openapi: 3.2.0
info:
  description: '## Overview


    The OK Capsule API enables you to programmatically create supplement orders, manage consumers, and track shipments.'
  version: 2.0.0
  title: OKC core API V2 Pack Builder Shipping Profiles API
  contact:
    name: Engineering Department, OKCapsule
    email: lukas@okcapsule.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- description: Production environment
  url: https://na1-prod.okcapsule.app
- description: Stage/Testing environment
  url: https://na1-stage.okcapsule.app
tags:
- name: Pack Builder Shipping Profiles
paths:
  /v2/pack-builders/{id}/shipping-profiles:
    post:
      tags:
      - Pack Builder Shipping Profiles
      security:
      - bearerAuth: []
      summary: Add a pack builder shipping profile in Shopify
      operationId: setPackBuilderShippingProfile
      description: Add a PackBuilderMappedProduct object
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - shipping_rates
              properties:
                shipping_rates:
                  type: array
                  items:
                    type: object
                    required:
                    - name
                    - amount
                    properties:
                      name:
                        type: string
                        example: Standard
                      amount:
                        type: number
                        example: 3.99
        description: Pack Builder shipping profile to create
      responses:
        '200':
          description: Returns the PackBuilderProductMapped object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile:
                    type: object
                    $ref: '#/components/schemas/ShippingProfile'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
components:
  schemas:
    ErrorModel:
      title: Error Model
      description: An error response from the OK Capsule API
      type: object
      properties:
        error:
          title: Error Model Content
          type: object
          description: Error details object
          required:
          - message
          properties:
            errorCode:
              description: For some errors that could be handled programmatically, a short string indicating the error code.
              maxLength: 5000
              type: string
              example: RESOURCE_NOT_FOUND
            message:
              description: A human-readable message providing more details about the error.
              maxLength: 40000
              type: string
              example: The requested resource was not found
        message:
          description: Top-level error message (present in some error responses)
          type: string
          example: Internal Server Error
      required:
      - error
    ShippingProfile:
      allOf:
      - type: object
        required:
        - name
        - locationGroupsToCreate
        - variantsToAssociate
        properties:
          name:
            type: string
            example: OK Capsule Shipping
          locationGroupsToCreate:
            type: object
            properties:
              locationsToAdd:
                type: array
                items:
                  type: string
                  example: gid://shopify/Location/74723164417
              zonesToCreate:
                type: array
                items:
                  type: object
                  required:
                  - name
                  - countries
                  - methodDefinitionsToCreate
                  properties:
                    name:
                      type: string
                      example: USA Zone
                    countries:
                      type: array
                      items:
                        type: object
                        required:
                        - code
                        - includeAllProvinces
                        properties:
                          code:
                            type: string
                            example: US
                          includeAllProvinces:
                            type: boolean
                            example: true
                    methodDefinitionsToCreate:
                      type: array
                      items:
                        type: object
                        required:
                        - name
                        - rateDefinition
                        properties:
                          name:
                            type: string
                            example: Standard
                          rateDefinition:
                            type: object
                            required:
                            - price
                            properties:
                              price:
                                type: object
                                required:
                                - amount
                                - currencyCode
                                properties:
                                  amount:
                                    type: number
                                    example: 3.99
                                  currencyCode:
                                    type: string
                                    example: USD
          variantsToAssociate:
            type: array
            items:
              type: string
              example: gid://shopify/ProductVariant/123456789
    ValidationError:
      type: object
      title: Validation Error
      required:
      - message
      - errors
      description: A validation error response from the OK Capsule API (Joi validation)
      properties:
        message:
          description: A human-readable message indicating a validation error occurred.
          maxLength: 40000
          type: string
          example: Validation error
        errors:
          description: An array of validation errors from Joi schema validation
          type: array
          items:
            type: object
            required:
            - message
            - type
            properties:
              message:
                description: A human-readable message providing more details about the validation error.
                type: string
                example: '''business_name'' is required'
              type:
                description: The Joi validation type that failed.
                type: string
                example: any.required
  parameters:
    IdParameter:
      in: path
      name: id
      required: true
      schema:
        type: string
        minimum: 1
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
