openapi: 3.2.0
info:
  description: '## Overview


    The OK Capsule API enables you to programmatically create supplement orders, manage consumers, and track shipments. It is a REST API that accepts JSON requests, returns JSON responses, and uses standard HTTP methods and status codes.


    **All requests must be made over HTTPS.**


    📚 **Additional Resources:** [Getting Started Guide](https://docs.okcapsule.app/docs/getting-started) | [Recipes & Examples](https://docs.okcapsule.app/docs/category/recipes)


    ## Getting Started


    > **New to OK Capsule API?** Account and brand setup must be completed before contacting OK Capsule about API credentials. If you have not set up your account and brand yet, start with the [Getting Started Guide](https://docs.okcapsule.app/docs/getting-started) before proceeding.


    1. **Set up your account** - Your OK Capsule account must be created and active

    2. **Set up your brand** - At least one Product Line must be configured in your account

    3. **Contact OK Capsule about API credentials** - Reach out to your OK Capsule representative once account and brand setup are complete

    4. **Authenticate** - POST to `/v2/authentication/token` to get an access token

    5. **List products** - GET `/v2/products` to see available supplements

    6. **Create an order** - POST to `/v2/orders` with consumer and product details

    7. **Track fulfillment** - Monitor order status and shipping via `/v2/orders` and `/v2/fulfillments`


    ## Environments


    | Environment | Purpose | Notes |

    |-------------|---------|-------|

    | **Production** | Live orders | Real fulfillment and shipping |

    | **Stage** | Testing | Test data only, no real shipments |


    ⚠️ Users and data are environment-specific. Stage credentials do not work in Production.


    ## Core Concepts


    | Term | Route | Description |

    |------|-------|-------------|

    | **Client** | `/v2/clients` | Your organization (business partner submitting orders) |

    | **Consumer** | `/v2/consumers` | Your end customer who receives supplements |

    | **Product** | `/v2/products` | A client-specific instance of an OKC Product with custom branding |

    | **Order** | `/v2/orders` | A request to fulfill supplements for a consumer |

    | **Order Line** | — | A set of pouches within an order (e.g., 30-day supply) |

    | **Pouch** | — | An individual daily packet of supplements |

    | **Fulfillment** | `/v2/fulfillments` | Shipping, tracking, and delivery information for an order |

    | **Assembly** | `/v2/assemblies` | A client''s predefined bundle of products (commonly called a "pack") |

    | **Product Line** | `/v2/product-lines` | A client''s marketing brand (appears on packaging) |

    | **OKC Product** | — | A supplement in the OK Capsule master catalog (what OKC purchases from vendors) |

    | **User** | `/v2/users` | An authorized person who accesses the API or portal |

    | **Contact** | `/v2/contacts` | A person associated with a client, managed for communication purposes |'
  version: 2.0.0
  title: OKC core API V2 Product Lines API
  contact:
    name: Engineering Department, OKCapsule
    email: lukas@okcapsule.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- description: Production environment
  url: https://na1-prod.okcapsule.app
- description: Stage/Testing environment
  url: https://na1-stage.okcapsule.app
tags:
- name: Product Lines
  description: Routes to manage product lines (formerly brands).
paths:
  /v2/product-lines:
    post:
      tags:
      - Product Lines
      security:
      - bearerAuth:
        - product_lines/write
      summary: Creates a product line.
      operationId: createProductLine
      description: Creates a product line.
      parameters:
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - address_id
              - shipping_notification_email
              - display_name
              - send_tracking_to_client_shipping_contact
              - send_tracking_to_consumer
              properties:
                address_id:
                  type: string
                  format: uuid
                  example: d290f1ee-6c54-4b01-90e6-d701748f0851
                shipping_notification_email:
                  type: string
                  example: email@example.com
                display_name:
                  type: string
                  maxLength: 20
                  example: Akeso Supplements
                description:
                  type: string
                  example: Healthiest supplements in the lands between
                send_tracking_to_client_shipping_contact:
                  type: boolean
                send_tracking_to_consumer:
                  type: boolean
                box_color:
                  type:
                  - string
                  - 'null'
                  example: White
                sticker_finish:
                  type:
                  - string
                  - 'null'
                  example: Matte
                default_packaging_asset_group_id:
                  type:
                  - string
                  - 'null'
                  format: uuid
                  example: c6de9100-e8b2-4032-80e2-3743deda83d2
                name:
                  type:
                  - string
                  - 'null'
                  example: Akseo
                  x-internal: true
                  description: This field is filtered for client users.
                status:
                  type: string
                  enum:
                  - Never Launched
                  - On Hold
                  - Retired
                  - Shipping
                  - Onboarding
                  - Testing
                  - Pre-Sale
                  x-internal: true
                  description: This field is filtered for client users.
                pouch_material:
                  type: string
                  enum:
                  - Eco/Compostable
                  - Plastic
                  example: Plastic
                  x-internal: true
                  description: This field is filtered for client users.
                fulfillment_fee:
                  type: object
                  x-internal: true
                  description: This field is filtered for client users.
                shipping_fee:
                  type: object
                  x-internal: true
                  description: This field is filtered for client users.
                fulfillment_fee_kitting:
                  type: object
                  x-internal: true
                  description: This field is filtered for client users.
                shipping_fee_kitting:
                  type: object
                  x-internal: true
                  description: This field is filtered for client users.
                pamphlet_template_pages_count:
                  type: integer
                  x-internal: true
                  description: This field is filtered for client users.
                additional_pouch_count:
                  type: integer
                  x-internal: true
                  description: This field is filtered for client users.
                enforce_orderline_consolidation:
                  type:
                  - boolean
                  - 'null'
                  x-internal: true
                  description: This field is filtered for client users.
                default_orderline_duration:
                  type:
                  - integer
                  - 'null'
                  x-internal: true
                  description: This field is filtered for client users.
                pill_per_pouch_overflow_strategy:
                  type:
                  - string
                  - 'null'
                  x-internal: true
                  description: This field is filtered for client users.
                shipping_tier:
                  type:
                  - string
                  - 'null'
                  x-internal: true
                  description: This field is filtered for client users.
                carrier_service_group:
                  type:
                  - string
                  - 'null'
                  format: uuid
                  x-internal: true
                  description: This field is filtered for client users.
                crm_id:
                  type: string
                  x-internal: true
                  description: This field is filtered for client users.
            examples:
              ProductLineFullSample:
                summary: Creates product lines with all fields
                $ref: '#/components/examples/ProductLineFullSample'
      responses:
        '201':
          description: Returns a created product line.
          content:
            application/json:
              schema:
                type: object
                properties:
                  product_line:
                    $ref: '#/components/schemas/ProductLine'
        '422':
          $ref: '#/components/responses/422ValidationError'
        default:
          $ref: '#/components/responses/UnknownError'
    get:
      tags:
      - Product Lines
      security:
      - bearerAuth:
        - product_lines/read
      summary: List product lines.
      operationId: listProductLines
      description: 'List product lines.


        Filterable fields:

        * name

        * display_name

        * status

        * pouch_material

        * crm_id


        Sortable fields:

        * display_name

        '
      parameters:
      - $ref: '#/components/parameters/LimitParameters'
      - $ref: '#/components/parameters/CursorParameters'
      - $ref: '#/components/parameters/SortByParameters'
      - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                type: object
                required:
                - product_lines
                properties:
                  product_lines:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductLine'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/product-lines/count:
    get:
      tags:
      - Product Lines
      security:
      - bearerAuth:
        - product_lines/read
      summary: Count of all product_lines
      operationId: getProductLineTotalCount
      description: "Count of all product_lines.\n\n   Filterable fields:\n   * name\n   * display_name\n   * status\n   * pouch_material\n   * crm_id\n"
      parameters:
      - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Count'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/product-lines/{id}:
    get:
      tags:
      - Product Lines
      security:
      - bearerAuth:
        - product_lines/read
      summary: Get a product line.
      operationId: getProductLine
      description: Get a product line.
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      responses:
        '200':
          description: Search results matching criteria.
          content:
            application/json:
              schema:
                type: object
                properties:
                  product_line:
                    $ref: '#/components/schemas/ProductLine'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    put:
      tags:
      - Product Lines
      security:
      - bearerAuth:
        - product_lines/write
      summary: Update a product line.
      operationId: updateProductLine
      description: Update a product line.
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                address_id:
                  type: string
                  format: uuid
                  example: d290f1ee-6c54-4b01-90e6-d701748f0851
                shipping_notification_email:
                  type: string
                  example: email@example.com
                display_name:
                  type: string
                  maxLength: 20
                  example: Akeso Supplements
                description:
                  type:
                  - string
                  - 'null'
                  example: Healthiest supplements in the lands between
                send_tracking_to_client_shipping_contact:
                  type: boolean
                send_tracking_to_consumer:
                  type: boolean
                box_color:
                  type:
                  - string
                  - 'null'
                  example: White
                sticker_finish:
                  type:
                  - string
                  - 'null'
                  example: Matte
                default_packaging_asset_group_id:
                  type:
                  - string
                  - 'null'
                  format: uuid
                  example: c6de9100-e8b2-4032-80e2-3743deda83d2
                name:
                  type:
                  - string
                  - 'null'
                  example: Akseo
                  x-internal: true
                  description: This field is filtered for client users.
                status:
                  type: string
                  enum:
                  - Never Launched
                  - On Hold
                  - Retired
                  - Shipping
                  - Onboarding
                  - Testing
                  - Pre-Sale
                  x-internal: true
                  description: This field is filtered for client users.
                pouch_material:
                  type: string
                  enum:
                  - Eco/Compostable
                  - Plastic
                  example: Plastic
                  x-internal: true
                  description: This field is filtered for client users.
                fulfillment_fee:
                  type: object
                  x-internal: true
                  description: This field is filtered for client users.
                shipping_fee:
                  type: object
                  x-internal: true
                  description: This field is filtered for client users.
                fulfillment_fee_kitting:
                  type: object
                  x-internal: true
                  description: This field is filtered for client users.
                shipping_fee_kitting:
                  type: object
                  x-internal: true
                  description: This field is filtered for client users.
                pamphlet_template_pages_count:
                  type: integer
                  x-internal: true
                  description: This field is filtered for client users.
                additional_pouch_count:
                  type: integer
                  x-internal: true
                  description: This field is filtered for client users.
                enforce_orderline_consolidation:
                  type:
                  - boolean
                  - 'null'
                  x-internal: true
                  description: This field is filtered for client users.
                default_orderline_duration:
                  type:
                  - integer
                  - 'null'
                  x-internal: true
                  description: This field is filtered for client users.
                pill_per_pouch_overflow_strategy:
                  type:
                  - string
                  - 'null'
                  x-internal: true
                  description: This field is filtered for client users.
                shipping_tier:
                  type:
                  - string
                  - 'null'
                  x-internal: true
                  description: This field is filtered for client users.
                carrier_service_group:
                  type: string
                  format: uuid
                  x-internal: true
                  description: This field is filtered for client users.
                crm_id:
                  type: string
                  x-internal: true
                  description: This field is filtered for client users.
        description: Product line to add
      responses:
        '200':
          description: Returns the updated product line.
          content:
            application/json:
              schema:
                type: object
                properties:
                  product_line:
                    $ref: '#/components/schemas/ProductLine'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    delete:
      tags:
      - Product Lines
      security:
      - bearerAuth:
        - product_lines/write
      summary: Delete a product line.
      operationId: deleteProductLine
      description: Delete a product line.
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      responses:
        '204':
          description: Confirms deletion of a product line.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
  /v2/product-lines/{id}/packaging-asset-groups:
    get:
      tags:
      - Product Lines
      security:
      - bearerAuth:
        - product_lines/read
      summary: Get a Packaging Asset Group attached to product line.
      operationId: getPackagingAssetGroupProductLine
      description: Get a Packaging Asset Group attached to product line.
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      responses:
        '200':
          description: Search results matching criteria.
          content:
            application/json:
              schema:
                type: object
                properties:
                  packaging_asset_group:
                    $ref: '#/components/schemas/PackagingAssetGroup'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
components:
  parameters:
    SortByParameters:
      in: query
      name: sort_by
      description: Sort values by a specific property. See available sort by values in the table.
      schema:
        type: string
    QueryParameters:
      in: query
      name: q
      description: Use Query DSL *query_string* syntax
      schema:
        type: string
    LimitParameters:
      in: query
      name: limit
      description: Number of results to return. Default 50, max 250.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 250
    CursorParameters:
      in: query
      name: cursor
      description: Return results before/after a specific record.
      schema:
        type: string
    IdParameter:
      in: path
      name: id
      required: true
      schema:
        type: string
        minimum: 1
  responses:
    422ValidationError:
      description: Validation error response.
      content:
        application/json:
          schema:
            type: object
            title: Validation Error
            required:
            - message
            - errors
            description: A validation error response from the OK Capsule API (Joi validation)
            properties:
              message:
                description: A human-readable message indicating a validation error occurred.
                maxLength: 40000
                type: string
                example: Validation error
              errors:
                description: An array of validation errors from Joi schema validation
                type: array
                items:
                  type: object
                  required:
                  - message
                  - type
                  properties:
                    message:
                      description: A human-readable message providing more details about the validation error.
                      type: string
                      example: '''business_name'' is required'
                    type:
                      description: The Joi validation type that failed.
                      type: string
                      example: any.required
    UnknownError:
      description: Error response.
      content:
        application/json:
          schema:
            title: Error Model
            description: An error response from the OK Capsule API
            type: object
            properties:
              error:
                title: Error Model Content
                type: object
                description: Error details object
                required:
                - message
                properties:
                  errorCode:
                    description: For some errors that could be handled programmatically, a short string indicating the error code.
                    maxLength: 5000
                    type: string
                    example: RESOURCE_NOT_FOUND
                  message:
                    description: A human-readable message providing more details about the error.
                    maxLength: 40000
                    type: string
                    example: The requested resource was not found
              message:
                description: Top-level error message (present in some error responses)
                type: string
                example: Internal Server Error
            required:
            - error
  schemas:
    ProductLine:
      allOf:
      - allOf:
        - type: object
          required:
          - created_at
          - updated_at
          properties:
            created_at:
              type: string
              format: date-time
              readOnly: true
              example: '2023-03-20T09:12:28Z'
            updated_at:
              type: string
              format: date-time
              readOnly: true
              example: '2023-03-20T09:12:28Z'
        - type: object
          required:
          - id
          - client_id
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            client_id:
              type: string
              format: uuid
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            status:
              type:
              - string
              - 'null'
              enum:
              - Never Launched
              - On Hold
              - Retired
              - Shipping
              - Onboarding
              - Testing
              - Pre-Sale
              example: Onboarding
            address_id:
              type:
              - string
              - 'null'
              format: uuid
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            default_packaging_asset_group_id:
              type:
              - string
              - 'null'
              format: uuid
              example: c6de9100-e8b2-4032-80e2-3743deda83d2
            shipping_notification_email:
              type: string
              example: email@example.com
            name:
              type:
              - string
              - 'null'
              example: Akseo
            display_name:
              type: string
              example: Akeso Supplements
            description:
              type:
              - string
              - 'null'
              example: Healthiest supplements in the lands between
            send_tracking_to_client_shipping_contact:
              type: boolean
            send_tracking_to_consumer:
              type: boolean
            pouch_material:
              type: string
              enum:
              - Eco/Compostable
              - Plastic
              example: Plastic
            box_color:
              type:
              - string
              - 'null'
              example: White
            sticker_finish:
              type:
              - string
              - 'null'
              example: Matte
            pamphlet_template_pages_count:
              type:
              - integer
              - 'null'
              x-internal: true
              description: This field is for internal use only.
            additional_pouch_count:
              type:
              - integer
              - 'null'
              x-internal: true
              description: This field is for internal use only.
            enforce_orderline_consolidation:
              type:
              - boolean
              - 'null'
              x-internal: true
              description: This field is for internal use only.
            default_orderline_duration:
              type:
              - integer
              - 'null'
              x-internal: true
              description: This field is for internal use only.
            pill_per_pouch_overflow_strategy:
              type:
              - string
              - 'null'
              x-internal: true
              description: This field is for internal use only.
            shipping_tier:
              type:
              - string
              - 'null'
              x-internal: true
              description: This field is for internal use only.
            carrier_service_group:
              type:
              - string
              - 'null'
              format: uuid
              x-internal: true
              description: This field is for internal use only.
            fulfillment_fee:
              type:
              - object
              - 'null'
              x-internal: true
              description: This field is for internal use only.
            shipping_fee:
              type:
              - object
              - 'null'
              x-internal: true
              description: This field is for internal use only.
            fulfillment_fee_kitting:
              type:
              - object
              - 'null'
              x-internal: true
              description: This field is for internal use only.
            shipping_fee_kitting:
              type:
              - object
              - 'null'
              x-internal: true
              description: This field is for internal use only.
            crm_id:
              type:
              - string
              - 'null'
              example: ABCDE12587AHSNNHS
              x-internal: true
              description: This field is for internal use only.
      - type: object
        required:
        - created_at
        - updated_at
        properties:
          created_at:
            type: string
            format: date-time
            readOnly: true
            example: '2023-03-20T09:12:28Z'
          updated_at:
            type: string
            format: date-time
            readOnly: true
            example: '2023-03-20T09:12:28Z'
    ValidationError:
      type: object
      title: Validation Error
      required:
      - message
      - errors
      description: A validation error response from the OK Capsule API (Joi validation)
      properties:
        message:
          description: A human-readable message indicating a validation error occurred.
          maxLength: 40000
          type: string
          example: Validation error
        errors:
          description: An array of validation errors from Joi schema validation
          type: array
          items:
            type: object
            required:
            - message
            - type
            properties:
              message:
                description: A human-readable message providing more details about the validation error.
                type: string
                example: '''business_name'' is required'
              type:
                description: The Joi validation type that failed.
                type: string
                example: any.required
    ErrorModel:
      title: Error Model
      description: An error response from the OK Capsule API
      type: object
      properties:
        error:
          title: Error Model Content
          type: object
          description: Error details object
          required:
          - message
          properties:
            errorCode:
              description: For some errors that could be handled programmatically, a short string indicating the error code.
              maxLength: 5000
              type: string
              example: RESOURCE_NOT_FOUND
            message:
              description: A human-readable message providing more details about the error.
              maxLength: 40000
              type: string
              example: The requested resource was not found
        message:
          description: Top-level error message (present in some error responses)
          type: string
          example: Internal Server Error
      required:
      - error
    Count:
      allOf:
      - type: object
        properties:
          count:
            type: number
            example: 8
    PackagingAssetGroup:
      allOf:
      - allOf:
        - type: object
          required:
          - created_at
          - updated_at
          properties:
            created_at:
              type: string
              format: date-time
              readOnly: true
              example: '2023-03-20T09:12:28Z'
            updated_at:
              type: string
              format: date-time
              readOnly: true
              example: '2023-03-20T09:12:28Z'
        - type: object
          required:
          - id
          - client_id
          - pamphlet_cover_image_url
          - pamphlet_inside_cover_image_url
          - pamphlet_back_image_url
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            client_id:
              type: string
              format: uuid
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            status:
              type: string
              enum:
              - New
              - Active
              - Testing
              - Onboarding
              - Archived
            sku:
              type: string
              example: ABCD-1236-QWERTY
            pamphlet_cover_image_url:
              type: string
              format: url
              example: https://okc-aws-bucket.com/pamphlet_cover_image-666c1d3a-17b2-488a-951a-2caa7cf21826.jpg
            pamphlet_inside_cover_image_url:
              type: string
              format: url
              example: https://okc-aws-bucket.com/pamphlet_inside_cover_image-666c1d3a-17b2-488a-951a-2caa7cf21826.jpg
            pamphlet_back_image_url:
              type: string
              format: url
              example: https://okc-aws-bucket.com/pamphlet_back_image-666c1d3a-17b2-488a-951a-2caa7cf21826.jpg
            sleeve_label_large_file_url:
              type: string
              format: url
              example: https://okc-aws-bucket.com/sleeve_label_large_file-666c1d3a-17b2-488a-951a-2caa7cf21826.pdf
            sleeve_label_small_file_url:
              type: string
              format: url
              example: https://okc-aws-bucket.com/sleeve_label_small_file-666c1d3a-17b2-488a-951a-2caa7cf21826.pdf
            pouch_label_file_url:
              type: string
              format: url
              example: https://okc-aws-bucket.com/pouch_label_file-666c1d3a-17b2-488a-951a-2caa7cf21826.pdf
            internal_name:
              type: string
              example: PAG-00015
              x-internal: true
              description: This field is for internal use only.
            display_name:
              type: string
              example: Packaging Asset Group 00015
            pamphlet_cover_page_json:
              type: object
              properties:
                template_page_name:
                  type: string
                  example: front_cover
                available_placeholders:
                  type: string
                  example: '{"pack_name", "first_name"}'
                template_block_content:
                  type: string
                  example: '{{pack_name}}'
                placeholder_style_data:
                  type: object
                  properties:
                    color:
                      type: string
                      example: '#000000'
                    font-family:
                      type: string
                      example: Helvetica
                    font-weight:
                      type: string
                      example: '700'
                    font-size:
                      type: string
                      example: 24pt
                    line-height:
                      type: number
                      example: 1
                template_block_style_data:
                  type: object
                  properties:
                    bottom:
                      type: string
                      example: 1cm
                    left:
                      type: string
                      example: 0.95cm
                    height:
                      type: string
                      example: auto
                    width:
                      type: string
                      example: 10.46cm
                    color:
                      type: string
                      example: '#000000'
                    font-family:
                      type: string
                      example: Helvetica
                    font-weight:
                      type: string
                      example: '400'
                    font-size:
                      type: string
                      example: 24pt
                    line-height:
                      type: number
                      example: 1.2
                    font_family:
                      type: string
                      example: Helvetica
                    font_url:
                      type: string
            pamphlet_template_size:
              enum:
              - sm
              - lg
              example: sm
            custom_template_name:
              type: string
              example: my-custom-template-name
            fulfillment_okc_product_ids:
              type: array
              items:
                type: string
                format: uuid
                example: d290f1ee-6c54-4b01-90e6-d701748f0851
              x-internal: true
              description: This field is for internal use only.
            max_pouch_count:
              type: number
              example: 30
              x-internal: true
              description: This field is for internal use only.
            base_packaging_asset_group_id:
              type: string
              format: uuid
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
              x-internal: true
              description: This field is for internal use only.
            label_group_id:
              type: string
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            pamphlet_id:
              type: string
              format: uuid
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            label_large_id:
              type: string
              format: uuid
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            label_small_id:
              type: string
              format: uuid
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            pouch_template_id:
              type: string
              format: uuid
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            pouch_logo_proxy:
              type: string
              example: proxy-logo-url
            label_schema_version:
              type: string
              example: v2
            pamphlet_schema_version:
              type: string
              example: v2
            is_approved_by_quality:
              type: boolean
              example: false
              x-internal: true
              description: This field is for internal use only.
            is_operations_ready:
              type: boolean
              example: false
              x-internal: true
              description: This field is for internal use only.
            is_locked:
              type: boolean
              example: false
              x-internal: true
              description: This field is for internal use only.
      - type: object
        required:
        - created_at
        - updated_at
        properties:
          created_at:
            type: string
            format: date-time
            readOnly: true
            example: '2023-03-20T09:12:28Z'
          updated_at:
            type: string
            format: date-time
            readOnly: true
            example: '2023-03-20T09:12:28Z'
  examples:
    ProductLineFullSample:
      summary: Creates a product line with all the fields.
      value:
        address_id: 14ae0a8b-f2fa-436c-b652-69a88117df46
        shipping_notification_email: house@example.com
        description: Healthiest supplements in the lands between.
        name: Akeso
        display_name: Akeso Supplements
        send_tracking_to_client_shipping_contact: true
        send_tracking_to_consumer: true
        box_color: string
        sticker_finish: string
        default_packaging_asset_group_id: c6de9100-e8b2-4032-80e2-3743deda83d2
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
