openapi: 3.2.0
info:
  description: '## Overview


    The OK Capsule API enables you to programmatically create supplement orders, manage consumers, and track shipments.'
  version: 2.0.0
  title: OKC core API V2 Product Sets API
  contact:
    name: Engineering Department, OKCapsule
    email: lukas@okcapsule.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- description: Production environment
  url: https://na1-prod.okcapsule.app
- description: Stage/Testing environment
  url: https://na1-stage.okcapsule.app
tags:
- name: Product Sets
  description: Routes to manage client product sets (a set is a client product composed of other client products)
paths:
  /v2/product-sets:
    post:
      tags:
      - Product Sets
      security:
      - bearerAuth:
        - products/write
      summary: Create a product set
      operationId: createClientProductSet
      description: Creates a new client product set with its member items. All `client_product_id` values must already exist.
      parameters:
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      requestBody:
        description: Product set to create
        content:
          application/json:
            schema:
              type: object
              required:
              - client_set_id
              - set_items
              properties:
                client_set_id:
                  type: string
                  format: uuid
                  description: The client product UUID that acts as the parent set.
                  example: d290f1ee-6c54-4b01-90e6-d701748f0851
                created_by:
                  type:
                  - string
                  - 'null'
                  format: uuid
                  example: d290f1ee-6c54-4b01-90e6-d701748f0851
                updated_by:
                  type:
                  - string
                  - 'null'
                  format: uuid
                  example: d290f1ee-6c54-4b01-90e6-d701748f0851
                set_items:
                  type: array
                  description: List of client products to include in the set.
                  items:
                    type: object
                    required:
                    - client_product_id
                    - quantity
                    properties:
                      client_product_id:
                        type: string
                        format: uuid
                        description: The client product UUID to add to the set.
                        example: a1b2c3d4-1234-5678-90ab-cdef01234567
                      quantity:
                        type: number
                        description: Quantity of this product in the set.
                        example: 2
      responses:
        '200':
          description: Returns the created product set with its items.
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_set_id:
                    type: string
                    format: uuid
                    example: d290f1ee-6c54-4b01-90e6-d701748f0851
                  set_items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ClientProductSetItem'
        '422':
          $ref: '#/components/responses/422ValidationError'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/product-sets/search:
    post:
      tags:
      - Product Sets
      security:
      - bearerAuth:
        - products/read
      summary: Search product sets
      operationId: searchClientProductSets
      description: 'Returns all product sets matching the given query.


        Filterable fields:

        * client_set_id

        * client_product_id'
      parameters:
      - $ref: '#/components/parameters/LimitParameters'
      - $ref: '#/components/parameters/CursorParameters'
      - $ref: '#/components/parameters/SortByParameters'
      - $ref: '#/components/parameters/QueryParameters'
      requestBody:
        description: Query filters
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: List of product sets matching the query.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    client_set_id:
                      type: string
                      format: uuid
                      example: d290f1ee-6c54-4b01-90e6-d701748f0851
                    set_items:
                      type: array
                      items:
                        $ref: '#/components/schemas/ClientProductSetItem'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/product-sets/{client_set_id}:
    get:
      tags:
      - Product Sets
      security:
      - bearerAuth:
        - products/read
      summary: Get a product set
      operationId: getClientProductSet
      description: Returns the product set and all its member items for the given client product id.
      parameters:
      - name: client_set_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID of the client product acting as the set.
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      responses:
        '200':
          description: Returns the product set with its items.
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_set_id:
                    type: string
                    format: uuid
                    example: d290f1ee-6c54-4b01-90e6-d701748f0851
                  set_items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ClientProductSetItem'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Client product not found.
        default:
          $ref: '#/components/responses/UnknownError'
    put:
      tags:
      - Product Sets
      security:
      - bearerAuth:
        - products/write
      summary: Update a product set
      operationId: updateClientProductSet
      description: Add, update, or remove items from an existing product set in a single request.
      parameters:
      - name: client_set_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID of the client product acting as the set.
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      requestBody:
        description: Items to add, update, or delete within the set.
        content:
          application/json:
            schema:
              type: object
              properties:
                created_by:
                  type:
                  - string
                  - 'null'
                  format: uuid
                  example: d290f1ee-6c54-4b01-90e6-d701748f0851
                updated_by:
                  type:
                  - string
                  - 'null'
                  format: uuid
                  example: d290f1ee-6c54-4b01-90e6-d701748f0851
                items_to_add:
                  type: array
                  description: New client products to add to the set.
                  items:
                    type: object
                    required:
                    - client_product_id
                    - quantity
                    properties:
                      client_product_id:
                        type: string
                        format: uuid
                        example: a1b2c3d4-1234-5678-90ab-cdef01234567
                      quantity:
                        type: number
                        example: 1
                items_to_update:
                  type: array
                  description: Existing set items to update (must include the item id).
                  items:
                    type: object
                    required:
                    - id
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The set item UUID to update.
                        example: d290f1ee-6c54-4b01-90e6-d701748f0851
                      client_product_id:
                        type: string
                        format: uuid
                        example: a1b2c3d4-1234-5678-90ab-cdef01234567
                      quantity:
                        type: number
                        example: 3
                items_to_delete:
                  type: array
                  description: UUIDs of set items to remove from the set.
                  items:
                    type: string
                    format: uuid
                    example: d290f1ee-6c54-4b01-90e6-d701748f0851
      responses:
        '200':
          description: Returns the updated product set with all current items.
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_set_id:
                    type: string
                    format: uuid
                    example: d290f1ee-6c54-4b01-90e6-d701748f0851
                  set_items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ClientProductSetItem'
        '422':
          $ref: '#/components/responses/422ValidationError'
        default:
          $ref: '#/components/responses/UnknownError'
    delete:
      tags:
      - Product Sets
      security:
      - bearerAuth:
        - products/write
      summary: Delete all items in a product set
      operationId: deleteClientProductSet
      description: Soft-deletes all set items belonging to the given client product set.
      parameters:
      - name: client_set_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID of the client product acting as the set.
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      responses:
        '204':
          description: Confirms deletion of all set items.
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/product-sets/{client_set_id}/items/{id}:
    get:
      tags:
      - Product Sets
      security:
      - bearerAuth:
        - products/read
      summary: Get a single set item
      operationId: getClientProductSetItem
      description: Returns a single client product set item by its id.
      parameters:
      - name: client_set_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID of the parent client product set.
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      responses:
        '200':
          description: Returns the set item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientProductSetItem'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Set item not found.
        default:
          $ref: '#/components/responses/UnknownError'
    delete:
      tags:
      - Product Sets
      security:
      - bearerAuth:
        - products/write
      summary: Delete a single set item
      operationId: deleteClientProductSetItem
      description: Soft-deletes a single client product set item by its id.
      parameters:
      - name: client_set_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID of the parent client product set.
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      responses:
        '204':
          description: Confirms deletion of the set item.
        default:
          $ref: '#/components/responses/UnknownError'
components:
  schemas:
    ErrorModel:
      title: Error Model
      description: An error response from the OK Capsule API
      type: object
      properties:
        error:
          title: Error Model Content
          type: object
          description: Error details object
          required:
          - message
          properties:
            errorCode:
              description: For some errors that could be handled programmatically, a short string indicating the error code.
              maxLength: 5000
              type: string
              example: RESOURCE_NOT_FOUND
            message:
              description: A human-readable message providing more details about the error.
              maxLength: 40000
              type: string
              example: The requested resource was not found
        message:
          description: Top-level error message (present in some error responses)
          type: string
          example: Internal Server Error
      required:
      - error
    ClientProductSetItem:
      allOf:
      - type: object
        properties:
          id:
            type: string
            format: uuid
            example: d290f1ee-6c54-4b01-90e6-d701748f0851
          client_set_id:
            type: string
            format: uuid
            description: The client product that acts as the parent set.
            example: d290f1ee-6c54-4b01-90e6-d701748f0851
          client_product_id:
            type: string
            format: uuid
            description: The client product that is a member of this set.
            example: a1b2c3d4-1234-5678-90ab-cdef01234567
          quantity:
            type: number
            format: decimal
            description: Quantity of the client product in the set.
            example: 2
          created_by:
            type:
            - string
            - 'null'
            format: uuid
            example: d290f1ee-6c54-4b01-90e6-d701748f0851
          updated_by:
            type:
            - string
            - 'null'
            format: uuid
            example: d290f1ee-6c54-4b01-90e6-d701748f0851
      - type: object
        required:
        - created_at
        - updated_at
        properties:
          created_at:
            type: string
            format: date-time
            readOnly: true
            example: '2023-03-20T09:12:28Z'
          updated_at:
            type: string
            format: date-time
            readOnly: true
            example: '2023-03-20T09:12:28Z'
  responses:
    UnknownError:
      description: Error response.
      content:
        application/json:
          schema:
            title: Error Model
            description: An error response from the OK Capsule API
            type: object
            properties:
              error:
                title: Error Model Content
                type: object
                description: Error details object
                required:
                - message
                properties:
                  errorCode:
                    description: For some errors that could be handled programmatically, a short string indicating the error code.
                    maxLength: 5000
                    type: string
                    example: RESOURCE_NOT_FOUND
                  message:
                    description: A human-readable message providing more details about the error.
                    maxLength: 40000
                    type: string
                    example: The requested resource was not found
              message:
                description: Top-level error message (present in some error responses)
                type: string
                example: Internal Server Error
            required:
            - error
    422ValidationError:
      description: Validation error response.
      content:
        application/json:
          schema:
            type: object
            title: Validation Error
            required:
            - message
            - errors
            description: A validation error response from the OK Capsule API (Joi validation)
            properties:
              message:
                description: A human-readable message indicating a validation error occurred.
                maxLength: 40000
                type: string
                example: Validation error
              errors:
                description: An array of validation errors from Joi schema validation
                type: array
                items:
                  type: object
                  required:
                  - message
                  - type
                  properties:
                    message:
                      description: A human-readable message providing more details about the validation error.
                      type: string
                      example: '''business_name'' is required'
                    type:
                      description: The Joi validation type that failed.
                      type: string
                      example: any.required
  parameters:
    LimitParameters:
      in: query
      name: limit
      description: Number of results to return. Default 50, max 250.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 250
    CursorParameters:
      in: query
      name: cursor
      description: Return results before/after a specific record.
      schema:
        type: string
    QueryParameters:
      in: query
      name: q
      description: Use Query DSL *query_string* syntax
      schema:
        type: string
    IdParameter:
      in: path
      name: id
      required: true
      schema:
        type: string
        minimum: 1
    SortByParameters:
      in: query
      name: sort_by
      description: Sort values by a specific property. See available sort by values in the table.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
