openapi: 3.2.0
info:
  description: '## Overview


    The OK Capsule API enables you to programmatically create supplement orders, manage consumers, and track shipments.'
  version: 2.0.0
  title: OKC core API V2 Client Printer Settings API
  contact:
    name: Engineering Department, OKCapsule
    email: lukas@okcapsule.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- description: Production environment
  url: https://na1-prod.okcapsule.app
- description: Stage/Testing environment
  url: https://na1-stage.okcapsule.app
tags:
- name: Client Printer Settings
paths:
  /v2/client-printer-settings:
    get:
      tags:
      - Client Printer Settings
      security:
      - bearerAuth:
        - clients/read
      summary: List all client printer settings
      operationId: listClientPrinterSettings
      description: Returns all client printer settings. Internal use only.
      x-internal: true
      parameters:
      - $ref: '#/components/parameters/LimitParameters'
      - $ref: '#/components/parameters/CursorParameters'
      - $ref: '#/components/parameters/SortByParameters'
      - $ref: '#/components/parameters/QueryParameters'
      - name: client_id
        in: query
        required: false
        schema:
          type: string
          format: uuid
        description: Filter by client ID.
      responses:
        '200':
          description: Returns a list of client printer settings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  settings:
                    type: array
                    items:
                      $ref: '#/components/schemas/ClientPrinterSettings'
                  total:
                    type: integer
        default:
          $ref: '#/components/responses/UnknownError'
    post:
      tags:
      - Client Printer Settings
      security:
      - bearerAuth:
        - clients/write
      summary: Create a client printer setting
      operationId: createClientPrinterSettings
      description: Creates a new printer configuration for a client. Internal use only.
      x-internal: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - label_type
              - printer_name
              description: Create a new client printer setting (internal use only).
              x-internal: true
              properties:
                label_type:
                  type: string
                  maxLength: 100
                  example: bottle-sticker
                  description: Type identifier for the label configuration.
                product_line_id:
                  type:
                  - string
                  - 'null'
                  format: uuid
                  example: d290f1ee-6c54-4b01-90e6-d701748f0851
                  description: Optional product line this setting applies to. When null, applies to all product lines.
                printer_name:
                  type: string
                  maxLength: 255
                  example: Zebra_ZT230
                  description: Name of the target printer.
                copies:
                  type: integer
                  default: 1
                  example: 1
                  description: Number of copies to print.
                is_active:
                  type: boolean
                  default: true
                  example: true
      responses:
        '201':
          description: Returns the created printer setting.
          content:
            application/json:
              schema:
                type: object
                properties:
                  setting:
                    $ref: '#/components/schemas/ClientPrinterSettings'
        '422':
          $ref: '#/components/responses/422ValidationError'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/client-printer-settings/count:
    get:
      tags:
      - Client Printer Settings
      security:
      - bearerAuth:
        - clients/read
      summary: Count client printer settings
      operationId: countClientPrinterSettings
      description: Returns the total count of client printer settings matching the query. Internal use only.
      x-internal: true
      parameters:
      - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: Returns the count.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/client-printer-settings/by-client/{clientId}/{labelType}:
    get:
      tags:
      - Client Printer Settings
      security:
      - bearerAuth:
        - clients/read
      summary: Get printer settings by client and label type
      operationId: getClientPrinterSettingsByClientAndLabelType
      description: Retrieves the printer setting for a specific client and label type combination. Internal use only.
      x-internal: true
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID of the client.
      - name: labelType
        in: path
        required: true
        schema:
          type: string
        description: Label type identifier.
        example: shipping_label
      - name: product_line_id
        in: query
        required: false
        schema:
          type: string
          format: uuid
        description: Optional product line filter.
      responses:
        '200':
          description: Returns the matching printer setting.
          content:
            application/json:
              schema:
                type: object
                properties:
                  setting:
                    $ref: '#/components/schemas/ClientPrinterSettings'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/client-printer-settings/{id}:
    get:
      tags:
      - Client Printer Settings
      security:
      - bearerAuth:
        - clients/read
      summary: Retrieve a client printer setting
      operationId: getClientPrinterSettings
      description: Retrieves a single client printer setting by ID. Internal use only.
      x-internal: true
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      responses:
        '200':
          description: Returns the printer setting.
          content:
            application/json:
              schema:
                type: object
                properties:
                  setting:
                    $ref: '#/components/schemas/ClientPrinterSettings'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    put:
      tags:
      - Client Printer Settings
      security:
      - bearerAuth:
        - clients/write
      summary: Update a client printer setting
      operationId: updateClientPrinterSettings
      description: Updates an existing client printer setting. Internal use only.
      x-internal: true
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Update a client printer setting (internal use only). All fields optional.
              x-internal: true
              properties:
                label_type:
                  type: string
                  maxLength: 100
                  example: bottle-sticker
                  description: Type identifier for the label configuration.
                product_line_id:
                  type:
                  - string
                  - 'null'
                  format: uuid
                  example: d290f1ee-6c54-4b01-90e6-d701748f0851
                  description: Optional product line this setting applies to. When null, applies to all product lines.
                printer_name:
                  type: string
                  maxLength: 255
                  example: Zebra_ZT230
                  description: Name of the target printer.
                copies:
                  type: integer
                  example: 1
                  description: Number of copies to print.
                is_active:
                  type: boolean
                  example: true
      responses:
        '200':
          description: Returns the updated printer setting.
          content:
            application/json:
              schema:
                type: object
                properties:
                  setting:
                    $ref: '#/components/schemas/ClientPrinterSettings'
        '422':
          $ref: '#/components/responses/422ValidationError'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    delete:
      tags:
      - Client Printer Settings
      security:
      - bearerAuth:
        - clients/write
      summary: Delete a client printer setting
      operationId: deleteClientPrinterSettings
      description: Deletes a client printer setting. Internal use only.
      x-internal: true
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      responses:
        '204':
          description: Confirms deletion of the printer setting.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
components:
  schemas:
    ErrorModel:
      title: Error Model
      description: An error response from the OK Capsule API
      type: object
      properties:
        error:
          title: Error Model Content
          type: object
          description: Error details object
          required:
          - message
          properties:
            errorCode:
              description: For some errors that could be handled programmatically, a short string indicating the error code.
              maxLength: 5000
              type: string
              example: RESOURCE_NOT_FOUND
            message:
              description: A human-readable message providing more details about the error.
              maxLength: 40000
              type: string
              example: The requested resource was not found
        message:
          description: Top-level error message (present in some error responses)
          type: string
          example: Internal Server Error
      required:
      - error
    ClientPrinterSettings:
      allOf:
      - allOf:
        - type: object
          required:
          - created_at
          - updated_at
          properties:
            created_at:
              type: string
              format: date-time
              readOnly: true
              example: '2023-03-20T09:12:28Z'
            updated_at:
              type: string
              format: date-time
              readOnly: true
              example: '2023-03-20T09:12:28Z'
        - type: object
          required:
          - id
          - client_id
          - label_type
          - printer_name
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            client_id:
              type: string
              format: uuid
              readOnly: true
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            product_line_id:
              type:
              - string
              - 'null'
              format: uuid
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            label_type:
              type: string
              maxLength: 100
              example: bottle-sticker
              description: Type identifier for the label configuration.
            printer_name:
              type: string
              maxLength: 255
              example: Zebra_ZT230
              description: Name of the target printer.
            copies:
              type: integer
              default: 1
              example: 1
              description: Number of copies to print.
            is_active:
              type: boolean
              default: true
              example: true
            created_by:
              type: string
              format: uuid
              readOnly: true
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            updated_by:
              type: string
              format: uuid
              readOnly: true
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
    Count:
      allOf:
      - type: object
        properties:
          count:
            type: number
            example: 8
  responses:
    UnknownError:
      description: Error response.
      content:
        application/json:
          schema:
            title: Error Model
            description: An error response from the OK Capsule API
            type: object
            properties:
              error:
                title: Error Model Content
                type: object
                description: Error details object
                required:
                - message
                properties:
                  errorCode:
                    description: For some errors that could be handled programmatically, a short string indicating the error code.
                    maxLength: 5000
                    type: string
                    example: RESOURCE_NOT_FOUND
                  message:
                    description: A human-readable message providing more details about the error.
                    maxLength: 40000
                    type: string
                    example: The requested resource was not found
              message:
                description: Top-level error message (present in some error responses)
                type: string
                example: Internal Server Error
            required:
            - error
    422ValidationError:
      description: Validation error response.
      content:
        application/json:
          schema:
            type: object
            title: Validation Error
            required:
            - message
            - errors
            description: A validation error response from the OK Capsule API (Joi validation)
            properties:
              message:
                description: A human-readable message indicating a validation error occurred.
                maxLength: 40000
                type: string
                example: Validation error
              errors:
                description: An array of validation errors from Joi schema validation
                type: array
                items:
                  type: object
                  required:
                  - message
                  - type
                  properties:
                    message:
                      description: A human-readable message providing more details about the validation error.
                      type: string
                      example: '''business_name'' is required'
                    type:
                      description: The Joi validation type that failed.
                      type: string
                      example: any.required
  parameters:
    LimitParameters:
      in: query
      name: limit
      description: Number of results to return. Default 50, max 250.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 250
    CursorParameters:
      in: query
      name: cursor
      description: Return results before/after a specific record.
      schema:
        type: string
    QueryParameters:
      in: query
      name: q
      description: Use Query DSL *query_string* syntax
      schema:
        type: string
    IdParameter:
      in: path
      name: id
      required: true
      schema:
        type: string
        minimum: 1
    SortByParameters:
      in: query
      name: sort_by
      description: Sort values by a specific property. See available sort by values in the table.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
