openapi: 3.2.0
info:
  description: '## Overview


    The OK Capsule API enables you to programmatically create supplement orders, manage consumers, and track shipments. It is a REST API that accepts JSON requests, returns JSON responses, and uses standard HTTP methods and status codes.


    **All requests must be made over HTTPS.**


    📚 **Additional Resources:** [Getting Started Guide](https://docs.okcapsule.app/docs/getting-started) | [Recipes & Examples](https://docs.okcapsule.app/docs/category/recipes)


    ## Getting Started


    > **New to OK Capsule API?** Account and brand setup must be completed before contacting OK Capsule about API credentials. If you have not set up your account and brand yet, start with the [Getting Started Guide](https://docs.okcapsule.app/docs/getting-started) before proceeding.


    1. **Set up your account** - Your OK Capsule account must be created and active

    2. **Set up your brand** - At least one Product Line must be configured in your account

    3. **Contact OK Capsule about API credentials** - Reach out to your OK Capsule representative once account and brand setup are complete

    4. **Authenticate** - POST to `/v2/authentication/token` to get an access token

    5. **List products** - GET `/v2/products` to see available supplements

    6. **Create an order** - POST to `/v2/orders` with consumer and product details

    7. **Track fulfillment** - Monitor order status and shipping via `/v2/orders` and `/v2/fulfillments`


    ## Environments


    | Environment | Purpose | Notes |

    |-------------|---------|-------|

    | **Production** | Live orders | Real fulfillment and shipping |

    | **Stage** | Testing | Test data only, no real shipments |


    ⚠️ Users and data are environment-specific. Stage credentials do not work in Production.


    ## Core Concepts


    | Term | Route | Description |

    |------|-------|-------------|

    | **Client** | `/v2/clients` | Your organization (business partner submitting orders) |

    | **Consumer** | `/v2/consumers` | Your end customer who receives supplements |

    | **Product** | `/v2/products` | A client-specific instance of an OKC Product with custom branding |

    | **Order** | `/v2/orders` | A request to fulfill supplements for a consumer |

    | **Order Line** | — | A set of pouches within an order (e.g., 30-day supply) |

    | **Pouch** | — | An individual daily packet of supplements |

    | **Fulfillment** | `/v2/fulfillments` | Shipping, tracking, and delivery information for an order |

    | **Assembly** | `/v2/assemblies` | A client''s predefined bundle of products (commonly called a "pack") |

    | **Product Line** | `/v2/product-lines` | A client''s marketing brand (appears on packaging) |

    | **OKC Product** | — | A supplement in the OK Capsule master catalog (what OKC purchases from vendors) |

    | **User** | `/v2/users` | An authorized person who accesses the API or portal |

    | **Contact** | `/v2/contacts` | A person associated with a client, managed for communication purposes |'
  version: 2.0.0
  title: OKC core API V2 Assemblies API
  contact:
    name: Engineering Department, OKCapsule
    email: lukas@okcapsule.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- description: Production environment
  url: https://na1-prod.okcapsule.app
- description: Stage/Testing environment
  url: https://na1-stage.okcapsule.app
tags:
- name: Assemblies
  description: Routes to manage assemblies (formerly packs)
paths:
  /v2/assemblies:
    post:
      tags:
      - Assemblies
      summary: Creates an assembly.
      operationId: createAssembly
      description: Creates an assembly. Please note that assemblies cannot contain more than 8 supplements per time of administration.
      security:
      - bearerAuth:
        - products/write
      parameters:
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - product_name
              - product_line_id
              - components
              properties:
                name:
                  type:
                  - string
                  - 'null'
                  example: Energy Pack Manufacturing Name
                product_name:
                  type: string
                  maxLength: 21
                  example: Energy Pack
                product_line_id:
                  type: string
                  format: uuid
                  example: d290f1ee-6c54-4b01-90e6-d701748f0851
                packaging_asset_group_id:
                  type:
                  - string
                  - 'null'
                  format: uuid
                  example: d290f1ee-6c54-4b01-90e6-d701748f0851
                active:
                  type: boolean
                  default: false
                  example: true
                short_description:
                  type:
                  - string
                  - 'null'
                  example: A morning energy boost pack
                pouch_description:
                  type:
                  - string
                  - 'null'
                  maxLength: 150
                  example: Take with breakfast
                components:
                  type: array
                  items:
                    type: object
                    required:
                    - product_id
                    properties:
                      product_id:
                        type: string
                        format: uuid
                        example: d290f1ee-6c54-4b01-90e6-d701748f0851
                      serving_size_override:
                        type:
                        - number
                        - 'null'
                        example: 2
                      time_of_administration_override:
                        type:
                        - string
                        - 'null'
                        enum:
                        - Morning
                        - Midday
                        - Evening
                        example: Morning
            examples:
              AssemblyFullSample:
                $ref: '#/components/examples/AssemblyFullSample'
              AssemblyRequiredSample:
                summary: Creates an assembly.
                $ref: '#/components/examples/AssemblyRequiredSample'
        description: Assembly to create
      responses:
        '201':
          description: Returns created assembly.
          content:
            application/json:
              schema:
                type: object
                required:
                - assembly
                properties:
                  assembly:
                    $ref: '#/components/schemas/Assembly'
        '422':
          $ref: '#/components/responses/422ValidationError'
        default:
          $ref: '#/components/responses/UnknownError'
    get:
      tags:
      - Assemblies
      security:
      - bearerAuth:
        - products/read
      summary: List all assemblies
      operationId: listAssemblies
      description: "List all assemblies. \n\nFilterable fields: \n* name\n* crm_id\n\nSortable fields:\n* product_name\n"
      parameters:
      - $ref: '#/components/parameters/LimitParameters'
      - $ref: '#/components/parameters/CursorParameters'
      - $ref: '#/components/parameters/SortByParameters'
      - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                type: object
                required:
                - assemblies
                properties:
                  assemblies:
                    type: array
                    items:
                      $ref: '#/components/schemas/Assembly'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/assemblies/count:
    get:
      tags:
      - Assemblies
      security:
      - bearerAuth:
        - products/read
      summary: Count of all assemblies
      operationId: getAssemblyTotalCount
      description: 'Count of all assemblies.


        Filterable fields:

        * name

        * crm_id

        '
      parameters:
      - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Count'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/assemblies/internal:
    get:
      tags:
      - Assemblies
      security:
      - bearerAuth:
        - products/read
      summary: List all internal assemblies
      operationId: listInternalAssemblies
      description: "List all internal assemblies. \n\nFilterable fields: \n* name\n* crm_id\n"
      parameters:
      - $ref: '#/components/parameters/LimitParameters'
      - $ref: '#/components/parameters/CursorParameters'
      - $ref: '#/components/parameters/SortByParameters'
      - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                type: object
                required:
                - assemblies
                properties:
                  assemblies:
                    type: array
                    items:
                      $ref: '#/components/schemas/Assembly'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/assemblies/{id}:
    get:
      tags:
      - Assemblies
      security:
      - bearerAuth:
        - products/read
      summary: Get an assembly.
      operationId: getAssembly
      description: Retrieves an assembly by id.
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      responses:
        '200':
          description: Returns the Assembly object for a valid identifier.
          content:
            application/json:
              schema:
                type: object
                properties:
                  assembly:
                    $ref: '#/components/schemas/Assembly'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    put:
      tags:
      - Assemblies
      security:
      - bearerAuth:
        - products/write
      summary: Update an assembly
      operationId: updateAssembly
      description: Update Assembly object
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type:
                  - string
                  - 'null'
                  example: Energy Pack Manufacturing Name
                product_name:
                  type:
                  - string
                  - 'null'
                  maxLength: 21
                  example: Energy Pack
                product_line_id:
                  type: string
                  format: uuid
                  example: d290f1ee-6c54-4b01-90e6-d701748f0851
                packaging_asset_group_id:
                  type:
                  - string
                  - 'null'
                  format: uuid
                  example: d290f1ee-6c54-4b01-90e6-d701748f0851
                protocol_id:
                  type:
                  - string
                  - 'null'
                  format: uuid
                  example: d290f1ee-6c54-4b01-90e6-d701748f0851
                active:
                  type:
                  - boolean
                  - 'null'
                  example: true
                short_description:
                  type:
                  - string
                  - 'null'
                  example: A morning energy boost pack
                pouch_description:
                  type:
                  - string
                  - 'null'
                  maxLength: 150
                  example: Take with breakfast
                components:
                  type: array
                  items:
                    type: object
                    required:
                    - product_id
                    properties:
                      product_id:
                        type: string
                        format: uuid
                        example: d290f1ee-6c54-4b01-90e6-d701748f0851
                      serving_size_override:
                        type:
                        - number
                        - 'null'
                        example: 2
                      time_of_administration_override:
                        type:
                        - string
                        - 'null'
                        enum:
                        - Morning
                        - Midday
                        - Evening
                        example: Morning
      responses:
        '200':
          description: Returns the updated Assembly object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  client:
                    $ref: '#/components/schemas/Assembly'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    delete:
      tags:
      - Assemblies
      security:
      - bearerAuth:
        - products/write
      summary: Delete an assembly
      operationId: deleteAssembly
      description: Delete an Assembly object.
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      responses:
        '204':
          description: Confirms deletion of an assembly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
components:
  parameters:
    SortByParameters:
      in: query
      name: sort_by
      description: Sort values by a specific property. See available sort by values in the table.
      schema:
        type: string
    QueryParameters:
      in: query
      name: q
      description: Use Query DSL *query_string* syntax
      schema:
        type: string
    LimitParameters:
      in: query
      name: limit
      description: Number of results to return. Default 50, max 250.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 250
    CursorParameters:
      in: query
      name: cursor
      description: Return results before/after a specific record.
      schema:
        type: string
    IdParameter:
      in: path
      name: id
      required: true
      schema:
        type: string
        minimum: 1
  responses:
    422ValidationError:
      description: Validation error response.
      content:
        application/json:
          schema:
            type: object
            title: Validation Error
            required:
            - message
            - errors
            description: A validation error response from the OK Capsule API (Joi validation)
            properties:
              message:
                description: A human-readable message indicating a validation error occurred.
                maxLength: 40000
                type: string
                example: Validation error
              errors:
                description: An array of validation errors from Joi schema validation
                type: array
                items:
                  type: object
                  required:
                  - message
                  - type
                  properties:
                    message:
                      description: A human-readable message providing more details about the validation error.
                      type: string
                      example: '''business_name'' is required'
                    type:
                      description: The Joi validation type that failed.
                      type: string
                      example: any.required
    UnknownError:
      description: Error response.
      content:
        application/json:
          schema:
            title: Error Model
            description: An error response from the OK Capsule API
            type: object
            properties:
              error:
                title: Error Model Content
                type: object
                description: Error details object
                required:
                - message
                properties:
                  errorCode:
                    description: For some errors that could be handled programmatically, a short string indicating the error code.
                    maxLength: 5000
                    type: string
                    example: RESOURCE_NOT_FOUND
                  message:
                    description: A human-readable message providing more details about the error.
                    maxLength: 40000
                    type: string
                    example: The requested resource was not found
              message:
                description: Top-level error message (present in some error responses)
                type: string
                example: Internal Server Error
            required:
            - error
  schemas:
    Assembly:
      allOf:
      - allOf:
        - type: object
          required:
          - created_at
          - updated_at
          properties:
            created_at:
              type: string
              format: date-time
              readOnly: true
              example: '2023-03-20T09:12:28Z'
            updated_at:
              type: string
              format: date-time
              readOnly: true
              example: '2023-03-20T09:12:28Z'
        - type: object
          required:
          - id
          - client_id
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            client_id:
              type: string
              format: uuid
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            product_line_id:
              type: string
              format: uuid
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            packaging_asset_group_id:
              type:
              - string
              - 'null'
              format: uuid
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            active:
              type: boolean
              example: true
            name:
              type: string
              description: For client users, this is the product_name. For internal users, this is the manufacturer name.
              example: Energy Pack
            product_name:
              type: string
              example: Energy Pack
            short_description:
              type:
              - string
              - 'null'
              example: A morning energy boost pack
            pouch_description:
              type:
              - string
              - 'null'
              example: Take with breakfast
            components:
              type: array
              items:
                type: object
                properties:
                  product_id:
                    type: string
                    format: uuid
                    example: d290f1ee-6c54-4b01-90e6-d701748f0851
                  serving_size:
                    type: integer
                    example: 2
                  time_of_administration:
                    type:
                    - string
                    - 'null'
                    enum:
                    - Morning
                    - Midday
                    - Evening
                    example: Morning
                  active:
                    type: boolean
                    example: true
            crm_id:
              type: string
              x-internal: true
              description: Internal use only.
              example: ABCDE12587AHSNNHS
            protocol_id:
              type:
              - string
              - 'null'
              format: uuid
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
      - type: object
        required:
        - created_at
        - updated_at
        properties:
          created_at:
            type: string
            format: date-time
            readOnly: true
            example: '2023-03-20T09:12:28Z'
          updated_at:
            type: string
            format: date-time
            readOnly: true
            example: '2023-03-20T09:12:28Z'
    ValidationError:
      type: object
      title: Validation Error
      required:
      - message
      - errors
      description: A validation error response from the OK Capsule API (Joi validation)
      properties:
        message:
          description: A human-readable message indicating a validation error occurred.
          maxLength: 40000
          type: string
          example: Validation error
        errors:
          description: An array of validation errors from Joi schema validation
          type: array
          items:
            type: object
            required:
            - message
            - type
            properties:
              message:
                description: A human-readable message providing more details about the validation error.
                type: string
                example: '''business_name'' is required'
              type:
                description: The Joi validation type that failed.
                type: string
                example: any.required
    ErrorModel:
      title: Error Model
      description: An error response from the OK Capsule API
      type: object
      properties:
        error:
          title: Error Model Content
          type: object
          description: Error details object
          required:
          - message
          properties:
            errorCode:
              description: For some errors that could be handled programmatically, a short string indicating the error code.
              maxLength: 5000
              type: string
              example: RESOURCE_NOT_FOUND
            message:
              description: A human-readable message providing more details about the error.
              maxLength: 40000
              type: string
              example: The requested resource was not found
        message:
          description: Top-level error message (present in some error responses)
          type: string
          example: Internal Server Error
      required:
      - error
    Count:
      allOf:
      - type: object
        properties:
          count:
            type: number
            example: 8
  examples:
    AssemblyRequiredSample:
      summary: Creates an assembly with only the required fields.
      value:
        product_name: Energy Pack
        components:
        - product_id: d290f1ee-6c54-4b01-90e6-d701748f0851
        - product_id: a079ccd0-e612-4a0c-9342-c169e18adb4f
    AssemblyFullSample:
      summary: Creates an assembly with all the fields.
      value:
        product_name: Energy Pack
        time_of_administration: Morning
        components:
        - product_id: d290f1ee-6c54-4b01-90e6-d701748f0851
          serving_size_override: 1
        - product_id: a079ccd0-e612-4a0c-9342-c169e18adb4f
          serving_size_override: 2
          time_of_administration_override: Midday
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
