openapi: 3.2.0
info:
  description: '## Overview


    The OK Capsule API enables you to programmatically create supplement orders, manage consumers, and track shipments.'
  version: 2.0.0
  title: OKC core API V2 Sync Processes API
  contact:
    name: Engineering Department, OKCapsule
    email: lukas@okcapsule.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- description: Production environment
  url: https://na1-prod.okcapsule.app
- description: Stage/Testing environment
  url: https://na1-stage.okcapsule.app
tags:
- name: Sync Processes
paths:
  /v2/sync-processes:
    get:
      tags:
      - Sync Processes
      security:
      - bearerAuth: []
      summary: List all Sync Processes
      operationId: listSyncProcesses
      description: 'List all Sync Processes.


        Filterable fields:

        * client_id

        * pack_builder_id

        * name


        Sortable fields:

        * started_at'
      parameters:
      - $ref: '#/components/parameters/LimitParameters'
      - $ref: '#/components/parameters/CursorParameters'
      - $ref: '#/components/parameters/SortByParameters'
      - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                type: object
                required:
                - sync_processes
                properties:
                  sync_processes:
                    type: array
                    items:
                      $ref: '#/components/schemas/SyncProcess'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/sync-processes/{id}:
    get:
      tags:
      - Sync Processes
      security:
      - bearerAuth:
        - sync-process/read
      summary: Retrieve a sync process
      operationId: getSyncProcess
      description: Retrieves a sync process by id.
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      responses:
        '200':
          description: Returns the sync process object for a valid identifier.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sync-process:
                    $ref: '#/components/schemas/SyncProcess'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
components:
  schemas:
    ErrorModel:
      title: Error Model
      description: An error response from the OK Capsule API
      type: object
      properties:
        error:
          title: Error Model Content
          type: object
          description: Error details object
          required:
          - message
          properties:
            errorCode:
              description: For some errors that could be handled programmatically, a short string indicating the error code.
              maxLength: 5000
              type: string
              example: RESOURCE_NOT_FOUND
            message:
              description: A human-readable message providing more details about the error.
              maxLength: 40000
              type: string
              example: The requested resource was not found
        message:
          description: Top-level error message (present in some error responses)
          type: string
          example: Internal Server Error
      required:
      - error
    SyncProcess:
      allOf:
      - type: object
        required:
        - id
        - client_id
        - pack_builder_id
        - name
        - started_at
        - ended_at
        - batch_size
        - synced
        - failed
        properties:
          id:
            type: string
            example: d290f1ee-6c54-4b01-90e6-d701748f0851
          client_id:
            type: string
            example: d290f1ee-6c54-4b01-90e6-d701748f0851
          pack_builder_id:
            type: string
            example: d290f1ee-6c54-4b01-90e6-d701748f0851
          name:
            type: string
            example: Sync Process 1
          started_at:
            type: string
            format: date-time
            example: '2022-01-01T00:00:00Z'
          ended_at:
            type: string
            format: date-time
            example: '2022-01-01T01:00:00Z'
          batch_size:
            type: integer
            example: 55
          synced:
            type: integer
            example: 50
          failed:
            type: integer
            example: 5
      - type: object
        required:
        - created_at
        - updated_at
        properties:
          created_at:
            type: string
            format: date-time
            readOnly: true
            example: '2023-03-20T09:12:28Z'
          updated_at:
            type: string
            format: date-time
            readOnly: true
            example: '2023-03-20T09:12:28Z'
  responses:
    UnknownError:
      description: Error response.
      content:
        application/json:
          schema:
            title: Error Model
            description: An error response from the OK Capsule API
            type: object
            properties:
              error:
                title: Error Model Content
                type: object
                description: Error details object
                required:
                - message
                properties:
                  errorCode:
                    description: For some errors that could be handled programmatically, a short string indicating the error code.
                    maxLength: 5000
                    type: string
                    example: RESOURCE_NOT_FOUND
                  message:
                    description: A human-readable message providing more details about the error.
                    maxLength: 40000
                    type: string
                    example: The requested resource was not found
              message:
                description: Top-level error message (present in some error responses)
                type: string
                example: Internal Server Error
            required:
            - error
  parameters:
    LimitParameters:
      in: query
      name: limit
      description: Number of results to return. Default 50, max 250.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 250
    CursorParameters:
      in: query
      name: cursor
      description: Return results before/after a specific record.
      schema:
        type: string
    QueryParameters:
      in: query
      name: q
      description: Use Query DSL *query_string* syntax
      schema:
        type: string
    IdParameter:
      in: path
      name: id
      required: true
      schema:
        type: string
        minimum: 1
    SortByParameters:
      in: query
      name: sort_by
      description: Sort values by a specific property. See available sort by values in the table.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
