openapi: 3.2.0
info:
  description: '## Overview


    The OK Capsule API enables you to programmatically create supplement orders, manage consumers, and track shipments.'
  version: 2.0.0
  title: OKC core API V2 Contact Addresses API
  contact:
    name: Engineering Department, OKCapsule
    email: lukas@okcapsule.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- description: Production environment
  url: https://na1-prod.okcapsule.app
- description: Stage/Testing environment
  url: https://na1-stage.okcapsule.app
tags:
- name: Contact Addresses
  description: Routes to manage contact addresses
paths:
  /v2/contacts/{contactId}/addresses:
    post:
      tags:
      - Contact Addresses
      security:
      - bearerAuth:
        - addresses/write
      summary: Create contact address
      operationId: createContactAddress
      parameters:
      - in: path
        name: contactId
        required: true
        schema:
          type: string
          minimum: 1
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - address1
              - city
              - country_name
              properties:
                is_default:
                  type: boolean
                  example: true
                address_type:
                  type: string
                  enum:
                  - shipping
                  - billing
                  - legal
                  - return
                  example: shipping
                addressed_to:
                  type: string
                  example: Homer Simpson
                address1:
                  type: string
                  example: 742 Evergreen Terrace
                  maxLength: 100
                  description: Will be abbreviated/wrapped for shipping labels if needed
                address2:
                  type: string
                  example: Apt. 23
                  maxLength: 100
                  description: Will be abbreviated/wrapped for shipping labels if needed
                city:
                  type: string
                  example: Springfield
                  maxLength: 50
                province_name:
                  type:
                  - string
                  - 'null'
                  example: Ohio
                  description: Optional - will be validated against country
                country_name:
                  type: string
                  example: United States
                postal_code:
                  type:
                  - string
                  - 'null'
                  example: '45501'
                phone_number:
                  type: string
                  format: E.164
                  example: '+12133734253'
                  description: Required if address_type is 'return'
            examples:
              AddressFullSample:
                $ref: '#/components/examples/AddressFullSample'
              AddressRequiredSample:
                $ref: '#/components/examples/AddressRequiredSample'
      responses:
        '201':
          description: Returns a created Address object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/ContactAddress'
        '422':
          $ref: '#/components/responses/422ValidationError'
        default:
          $ref: '#/components/responses/UnknownError'
    get:
      tags:
      - Contact Addresses
      security:
      - bearerAuth:
        - addresses/read
      summary: List contact addresses
      operationId: listContactAddresses
      description: 'List contact addresses


        Filterable fields:

        * ALL'
      parameters:
      - in: path
        name: contactId
        required: true
        schema:
          type: string
          minimum: 1
      - $ref: '#/components/parameters/LimitParameters'
      - $ref: '#/components/parameters/CursorParameters'
      - $ref: '#/components/parameters/SortByParameters'
      - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                required:
                - addresses
                properties:
                  addresses:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactAddress'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
  /v2/contacts/{contactId}/addresses/count:
    get:
      tags:
      - Contact Addresses
      security:
      - bearerAuth:
        - addresses/read
      summary: Count of all addresses
      operationId: getContactAddressTotalCount
      description: 'Count of all addresses.


        Filterable fields:

        * ALL'
      parameters:
      - in: path
        name: contactId
        required: true
        schema:
          type: string
          minimum: 1
      - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Count'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/contacts/{contactId}/addresses/{id}:
    get:
      tags:
      - Contact Addresses
      security:
      - bearerAuth:
        - addresses/read
      summary: Retrieve contact address
      operationId: getContactAddress
      description: Retrieve contact address by id
      parameters:
      - in: path
        name: contactId
        required: true
        schema:
          type: string
          minimum: 1
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      responses:
        '200':
          description: Returns the Address object for a valid identifier.
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/ContactAddress'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    put:
      tags:
      - Contact Addresses
      security:
      - bearerAuth:
        - addresses/write
      summary: Update contact address
      operationId: updateContactAddress
      parameters:
      - in: path
        name: contactId
        required: true
        schema:
          type: string
          minimum: 1
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - address1
              - city
              - country_name
              properties:
                is_default:
                  type: boolean
                  example: true
                address_type:
                  type: string
                  enum:
                  - shipping
                  - billing
                  - legal
                  - return
                  example: shipping
                addressed_to:
                  type: string
                  example: Homer Simpson
                address1:
                  type: string
                  example: 742 Evergreen Terrace
                  maxLength: 100
                  description: Will be abbreviated/wrapped for shipping labels if needed
                address2:
                  type: string
                  example: Apt. 23
                  maxLength: 100
                  description: Will be abbreviated/wrapped for shipping labels if needed
                city:
                  type: string
                  example: Springfield
                  maxLength: 50
                province_name:
                  type:
                  - string
                  - 'null'
                  example: Ohio
                  description: Optional - will be validated against country
                country_name:
                  type: string
                  example: United States
                postal_code:
                  type:
                  - string
                  - 'null'
                  example: '45501'
                phone_number:
                  type: string
                  format: E.164
                  example: '+12133734253'
                  description: Required if address_type is 'return'
      responses:
        '200':
          description: Returns the updated Address object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/ContactAddress'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    delete:
      tags:
      - Contact Addresses
      security:
      - bearerAuth:
        - addresses/write
      summary: Delete contact address
      operationId: deleteContactAddress
      description: Delete contact address.
      parameters:
      - in: path
        name: contactId
        required: true
        schema:
          type: string
          minimum: 1
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      responses:
        '204':
          $ref: '#/components/responses/204ConfirmDeletion'
components:
  schemas:
    ErrorModel:
      title: Error Model
      description: An error response from the OK Capsule API
      type: object
      properties:
        error:
          title: Error Model Content
          type: object
          description: Error details object
          required:
          - message
          properties:
            errorCode:
              description: For some errors that could be handled programmatically, a short string indicating the error code.
              maxLength: 5000
              type: string
              example: RESOURCE_NOT_FOUND
            message:
              description: A human-readable message providing more details about the error.
              maxLength: 40000
              type: string
              example: The requested resource was not found
        message:
          description: Top-level error message (present in some error responses)
          type: string
          example: Internal Server Error
      required:
      - error
    ValidationError:
      type: object
      title: Validation Error
      required:
      - message
      - errors
      description: A validation error response from the OK Capsule API (Joi validation)
      properties:
        message:
          description: A human-readable message indicating a validation error occurred.
          maxLength: 40000
          type: string
          example: Validation error
        errors:
          description: An array of validation errors from Joi schema validation
          type: array
          items:
            type: object
            required:
            - message
            - type
            properties:
              message:
                description: A human-readable message providing more details about the validation error.
                type: string
                example: '''business_name'' is required'
              type:
                description: The Joi validation type that failed.
                type: string
                example: any.required
    Count:
      allOf:
      - type: object
        properties:
          count:
            type: number
            example: 8
    ContactAddress:
      allOf:
      - allOf:
        - type: object
          required:
          - created_at
          - updated_at
          properties:
            created_at:
              type: string
              format: date-time
              readOnly: true
              example: '2023-03-20T09:12:28Z'
            updated_at:
              type: string
              format: date-time
              readOnly: true
              example: '2023-03-20T09:12:28Z'
        - type: object
          description: Address response object for contacts. Only billing and legal address types are allowed for contacts.
          required:
          - id
          - is_default
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            contact_id:
              type: string
              format: uuid
              example: d290f1ee-6c54-4b01-90e6-d701748f0851
            is_default:
              type: boolean
              example: true
            address_type:
              type: string
              enum:
              - billing
              - legal
              example: legal
            addressed_to:
              type: string
              example: Homer Simpson
            address1:
              type: string
              example: 742 Evergreen Terrace
            address2:
              type: string
              example: Apt. 23
            city:
              type: string
              example: Springfield
            province_name:
              type: string
              example: Ohio
            province_code:
              type: string
              format: ISO 3166-2
              example: OH
            country_name:
              type: string
              example: United States
            country_code:
              type: string
              format: ISO 3166-1 alpha-2
              example: US
            postal_code:
              type: string
              example: '45501'
            phone_number:
              type: string
              format: E.164
              example: '+12133734253'
            crm_id:
              type: string
              x-internal: true
              description: Internal use only.
              example: ABCDE12587AHSNNHS
      - type: object
        required:
        - created_at
        - updated_at
        properties:
          created_at:
            type: string
            format: date-time
            readOnly: true
            example: '2023-03-20T09:12:28Z'
          updated_at:
            type: string
            format: date-time
            readOnly: true
            example: '2023-03-20T09:12:28Z'
  responses:
    UnknownError:
      description: Error response.
      content:
        application/json:
          schema:
            title: Error Model
            description: An error response from the OK Capsule API
            type: object
            properties:
              error:
                title: Error Model Content
                type: object
                description: Error details object
                required:
                - message
                properties:
                  errorCode:
                    description: For some errors that could be handled programmatically, a short string indicating the error code.
                    maxLength: 5000
                    type: string
                    example: RESOURCE_NOT_FOUND
                  message:
                    description: A human-readable message providing more details about the error.
                    maxLength: 40000
                    type: string
                    example: The requested resource was not found
              message:
                description: Top-level error message (present in some error responses)
                type: string
                example: Internal Server Error
            required:
            - error
    422ValidationError:
      description: Validation error response.
      content:
        application/json:
          schema:
            type: object
            title: Validation Error
            required:
            - message
            - errors
            description: A validation error response from the OK Capsule API (Joi validation)
            properties:
              message:
                description: A human-readable message indicating a validation error occurred.
                maxLength: 40000
                type: string
                example: Validation error
              errors:
                description: An array of validation errors from Joi schema validation
                type: array
                items:
                  type: object
                  required:
                  - message
                  - type
                  properties:
                    message:
                      description: A human-readable message providing more details about the validation error.
                      type: string
                      example: '''business_name'' is required'
                    type:
                      description: The Joi validation type that failed.
                      type: string
                      example: any.required
    204ConfirmDeletion:
      description: Confirms resource deletion.
  parameters:
    LimitParameters:
      in: query
      name: limit
      description: Number of results to return. Default 50, max 250.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 250
    CursorParameters:
      in: query
      name: cursor
      description: Return results before/after a specific record.
      schema:
        type: string
    QueryParameters:
      in: query
      name: q
      description: Use Query DSL *query_string* syntax
      schema:
        type: string
    IdParameter:
      in: path
      name: id
      required: true
      schema:
        type: string
        minimum: 1
    SortByParameters:
      in: query
      name: sort_by
      description: Sort values by a specific property. See available sort by values in the table.
      schema:
        type: string
  examples:
    AddressRequiredSample:
      summary: Creates an address with only the required fields.
      value:
        address1: 742 Evergreen Terrace
        city: Springfield
        province_name: Ohio
        country_name: United States
        postal_code: '45501'
    AddressFullSample:
      summary: Creates an address with all the fields.
      value:
        is_default: true
        address_type: shipping
        addressed_to: Homer Simpson
        address1: 742 Evergreen Terrace
        address2: Apt. 23
        city: Springfield
        province_name: Ohio
        country_name: United States
        postal_code: '45501'
        phone_number: '12133734253'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
