openapi: 3.2.0
info:
  description: '## Overview


    The OK Capsule API enables you to programmatically create supplement orders, manage consumers, and track shipments. It is a REST API that accepts JSON requests, returns JSON responses, and uses standard HTTP methods and status codes.


    **All requests must be made over HTTPS.**


    📚 **Additional Resources:** [Getting Started Guide](https://docs.okcapsule.app/docs/getting-started) | [Recipes & Examples](https://docs.okcapsule.app/docs/category/recipes)


    ## Getting Started


    > **New to OK Capsule API?** Account and brand setup must be completed before contacting OK Capsule about API credentials. If you have not set up your account and brand yet, start with the [Getting Started Guide](https://docs.okcapsule.app/docs/getting-started) before proceeding.


    1. **Set up your account** - Your OK Capsule account must be created and active

    2. **Set up your brand** - At least one Product Line must be configured in your account

    3. **Contact OK Capsule about API credentials** - Reach out to your OK Capsule representative once account and brand setup are complete

    4. **Authenticate** - POST to `/v2/authentication/token` to get an access token

    5. **List products** - GET `/v2/products` to see available supplements

    6. **Create an order** - POST to `/v2/orders` with consumer and product details

    7. **Track fulfillment** - Monitor order status and shipping via `/v2/orders` and `/v2/fulfillments`


    ## Environments


    | Environment | Purpose | Notes |

    |-------------|---------|-------|

    | **Production** | Live orders | Real fulfillment and shipping |

    | **Stage** | Testing | Test data only, no real shipments |


    ⚠️ Users and data are environment-specific. Stage credentials do not work in Production.


    ## Core Concepts


    | Term | Route | Description |

    |------|-------|-------------|

    | **Client** | `/v2/clients` | Your organization (business partner submitting orders) |

    | **Consumer** | `/v2/consumers` | Your end customer who receives supplements |

    | **Product** | `/v2/products` | A client-specific instance of an OKC Product with custom branding |

    | **Order** | `/v2/orders` | A request to fulfill supplements for a consumer |

    | **Order Line** | — | A set of pouches within an order (e.g., 30-day supply) |

    | **Pouch** | — | An individual daily packet of supplements |

    | **Fulfillment** | `/v2/fulfillments` | Shipping, tracking, and delivery information for an order |

    | **Assembly** | `/v2/assemblies` | A client''s predefined bundle of products (commonly called a "pack") |

    | **Product Line** | `/v2/product-lines` | A client''s marketing brand (appears on packaging) |

    | **OKC Product** | — | A supplement in the OK Capsule master catalog (what OKC purchases from vendors) |

    | **User** | `/v2/users` | An authorized person who accesses the API or portal |

    | **Contact** | `/v2/contacts` | A person associated with a client, managed for communication purposes |'
  version: 2.0.0
  title: OKC core API V2 Pamphlets API
  contact:
    name: Engineering Department, OKCapsule
    email: lukas@okcapsule.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- description: Production environment
  url: https://na1-prod.okcapsule.app
- description: Stage/Testing environment
  url: https://na1-stage.okcapsule.app
tags:
- name: Pamphlets
  description: Routes to manage pamphlets
paths:
  /v2/pub-specs/{orderLineId}/{type}/{format}:
    get:
      tags:
      - Pamphlets
      security:
      - bearerAuth:
        - order-lines/read
      summary: Retrieve a pub spec url by order line, type, and format
      operationId: getPubSpec
      description: Retrieve a pub spec url for an order line.
      parameters:
      - $ref: '#/components/parameters/OrderLineIdParameter'
      - in: path
        name: type
        required: true
        schema:
          type: string
        description: Pub spec type. Currently only 'pamphlets' is supported.
      - in: path
        name: format
        required: true
        schema:
          type: string
          enum:
          - pdf
          - html
        description: File format for the generated URL.
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      responses:
        '200':
          description: Returns the Pub Spec URL payload for a valid identifier.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pub_spec_url:
                    type: string
                    format: url
                    example: https://okc-pamphlet-bucket.s3.amazonaws.com/fc69b371-0441-4e52-84ed-153c0205e48b.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20241016%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20241016T172121Z&X-Amz-Expires=900
                  s3_key:
                    type: string
                  id:
                    type: string
                    format: uuid
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
  /v2/pamphlets/{orderLineId}:
    get:
      tags:
      - Pamphlets
      security:
      - bearerAuth:
        - order-lines/read
      summary: Retrieve a pamphlet url
      operationId: getPamphlet
      description: Retrieve a pamphlet url.
      parameters:
      - $ref: '#/components/parameters/OrderLineIdParameter'
      - $ref: '#/components/parameters/FormatParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      responses:
        '200':
          description: Returns the Pamphlet object for a valid identifier.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pamphlet_url:
                    type: string
                    format: url
                    example: https://okc-pamphlet-bucket.s3.amazonaws.com/fc69b371-0441-4e52-84ed-153c0205e48b.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20241016%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20241016T172121Z&X-Amz-Expires=900
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
components:
  schemas:
    ErrorModel:
      title: Error Model
      description: An error response from the OK Capsule API
      type: object
      properties:
        error:
          title: Error Model Content
          type: object
          description: Error details object
          required:
          - message
          properties:
            errorCode:
              description: For some errors that could be handled programmatically, a short string indicating the error code.
              maxLength: 5000
              type: string
              example: RESOURCE_NOT_FOUND
            message:
              description: A human-readable message providing more details about the error.
              maxLength: 40000
              type: string
              example: The requested resource was not found
        message:
          description: Top-level error message (present in some error responses)
          type: string
          example: Internal Server Error
      required:
      - error
  parameters:
    FormatParameter:
      in: query
      name: format
      required: true
      schema:
        type: string
        enum:
        - pdf
        - html
    OrderLineIdParameter:
      in: path
      name: orderLineId
      required: true
      schema:
        format: uuid
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
