openapi: 3.2.0
info:
  description: '## Overview


    The OK Capsule API enables you to programmatically create supplement orders, manage consumers, and track shipments. It is a REST API that accepts JSON requests, returns JSON responses, and uses standard HTTP methods and status codes.


    **All requests must be made over HTTPS.**


    📚 **Additional Resources:** [Getting Started Guide](https://docs.okcapsule.app/docs/getting-started) | [Recipes & Examples](https://docs.okcapsule.app/docs/category/recipes)


    ## Getting Started


    > **New to OK Capsule API?** Account and brand setup must be completed before contacting OK Capsule about API credentials. If you have not set up your account and brand yet, start with the [Getting Started Guide](https://docs.okcapsule.app/docs/getting-started) before proceeding.


    1. **Set up your account** - Your OK Capsule account must be created and active

    2. **Set up your brand** - At least one Product Line must be configured in your account

    3. **Contact OK Capsule about API credentials** - Reach out to your OK Capsule representative once account and brand setup are complete

    4. **Authenticate** - POST to `/v2/authentication/token` to get an access token

    5. **List products** - GET `/v2/products` to see available supplements

    6. **Create an order** - POST to `/v2/orders` with consumer and product details

    7. **Track fulfillment** - Monitor order status and shipping via `/v2/orders` and `/v2/fulfillments`


    ## Environments


    | Environment | Purpose | Notes |

    |-------------|---------|-------|

    | **Production** | Live orders | Real fulfillment and shipping |

    | **Stage** | Testing | Test data only, no real shipments |


    ⚠️ Users and data are environment-specific. Stage credentials do not work in Production.


    ## Core Concepts


    | Term | Route | Description |

    |------|-------|-------------|

    | **Client** | `/v2/clients` | Your organization (business partner submitting orders) |

    | **Consumer** | `/v2/consumers` | Your end customer who receives supplements |

    | **Product** | `/v2/products` | A client-specific instance of an OKC Product with custom branding |

    | **Order** | `/v2/orders` | A request to fulfill supplements for a consumer |

    | **Order Line** | — | A set of pouches within an order (e.g., 30-day supply) |

    | **Pouch** | — | An individual daily packet of supplements |

    | **Fulfillment** | `/v2/fulfillments` | Shipping, tracking, and delivery information for an order |

    | **Assembly** | `/v2/assemblies` | A client''s predefined bundle of products (commonly called a "pack") |

    | **Product Line** | `/v2/product-lines` | A client''s marketing brand (appears on packaging) |

    | **OKC Product** | — | A supplement in the OK Capsule master catalog (what OKC purchases from vendors) |

    | **User** | `/v2/users` | An authorized person who accesses the API or portal |

    | **Contact** | `/v2/contacts` | A person associated with a client, managed for communication purposes |'
  version: 2.0.0
  title: OKC core API V2 Pack Builder Settings API
  contact:
    name: Engineering Department, OKCapsule
    email: lukas@okcapsule.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- description: Production environment
  url: https://na1-prod.okcapsule.app
- description: Stage/Testing environment
  url: https://na1-stage.okcapsule.app
tags:
- name: Pack Builder Settings
paths:
  /v2/pack-builders/{id}/settings:
    post:
      tags:
      - Pack Builder Settings
      security:
      - bearerAuth: []
      summary: Creates settings object for a pack builder.
      operationId: createPackBuilderSettings
      description: Creates settings object for a pack builder.
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - category_settings
              - visual_settings
              - protocol_settings
              properties:
                category_settings:
                  type: object
                  required:
                  - enable_product_categories
                  - category_selection_behavior
                  - category_menu_selection_behavior
                  - category_menu_text_align
                  properties:
                    enable_product_categories:
                      type: boolean
                      example: true
                    category_selection_behavior:
                      type: string
                      enum:
                      - scroll
                      - filter
                      example: scroll
                    category_menu_selection_behavior:
                      type: string
                      enum:
                      - bold
                      - underline
                      - fill
                      example: bold
                    category_menu_text_align:
                      type: string
                      enum:
                      - left
                      - center
                      - right
                      example: left
                visual_settings:
                  type: object
                  required:
                  - layout
                  - product_cards
                  - typography
                  - colors
                  - buttons
                  - copy
                  properties:
                    layout:
                      type: object
                      required:
                      - product_view
                      - screen_width
                      - drawer_settings
                      - override
                      properties:
                        product_view:
                          type: string
                          enum:
                          - grid
                          - list
                          example: grid
                        screen_width:
                          type: string
                          enum:
                          - fixed
                          - flex
                          example: fixed
                        drawer_settings:
                          type: string
                          enum:
                          - temporary
                          - permanent
                          example: permanent
                        modal_mode:
                          type: string
                          enum:
                          - basic
                          - precision
                          - enhanced
                          - standard
                          example: basic
                        override:
                          type: boolean
                          example: false
                    product_cards:
                      type: object
                      required:
                      - image_aspect_ratio
                      - image_corners
                      - show_icon_labels
                      - cart_item_spacing_style
                      - override
                      properties:
                        image_aspect_ratio:
                          type: string
                          enum:
                          - '1:1'
                          - '4:3'
                          example: '1:1'
                        image_corners:
                          type: string
                          enum:
                          - rounded
                          - square
                          example: rounded
                        cycle_length:
                          type: integer
                          enum:
                          - 7
                          - 10
                          example: 7
                        show_icon_labels:
                          type: boolean
                          example: false
                        cart_item_spacing_style:
                          type: string
                          enum:
                          - default
                          - compact
                          - comfortable
                          example: compact
                        override:
                          type: boolean
                          example: false
                    typography:
                      type: object
                      required:
                      - text_size
                      - header_font
                      - body_font
                      - link_style
                      - override
                      properties:
                        text_size:
                          type: string
                          enum:
                          - small
                          - medium
                          - large
                          example: small
                        header_font:
                          type: object
                          required:
                          - font_family
                          - font_weight
                          properties:
                            font_family:
                              type: string
                              example: Open Sand
                            font_weight:
                              type: string
                              example: bold
                        body_font:
                          type: object
                          required:
                          - font_family
                          - font_weight
                          properties:
                            font_family:
                              type: string
                              example: Open Sand
                            font_weight:
                              type: string
                              example: regular
                        link_style:
                          type: string
                          enum:
                          - underline
                          - bold
                          - normal
                          example: underline
                        override:
                          type: boolean
                          example: false
                    colors:
                      type: object
                      required:
                      - primary_fill
                      - secondary_fill
                      - buttons
                      - icons
                      - header_text
                      - body_text
                      - links
                      - dividers
                      - override
                      properties:
                        primary_fill:
                          type: string
                          example: '#000000'
                        secondary_fill:
                          type: string
                          example: '#000000'
                        buttons:
                          type: string
                          example: '#000000'
                        icons:
                          type: string
                          example: '#000000'
                        header_text:
                          type: string
                          example: '#000000'
                        body_text:
                          type: string
                          example: '#000000'
                        links:
                          type: string
                          example: '#000000'
                        dividers:
                          type: string
                          example: '#000000'
                        override:
                          type: boolean
                          example: false
                    buttons:
                      type: object
                      required:
                      - corner_style
                      - ripple_effect
                      - checkout_button_text
                      - override
                      properties:
                        corner_style:
                          type: string
                          enum:
                          - square
                          - round
                          - soft
                          example: round
                        ripple_effect:
                          type: boolean
                          example: false
                        checkout_button_text:
                          type: string
                          example: ''
                        override:
                          type: boolean
                          example: false
                    copy:
                      type: object
                      required:
                      - empty_cart_message
                      - error_message
                      properties:
                        empty_cart_message:
                          type: string
                          example: ''
                        error_message:
                          type: string
                          example: ''
                protocol_settings:
                  type: object
                  required:
                  - mode
                  properties:
                    mode:
                      type: string
                      enum:
                      - basic
                      - precision
                      - enhanced
                      - standard
                      example: basic
                    cycle_length:
                      type:
                      - integer
                      - 'null'
                      enum:
                      - 7
                      - 10
                      example: 7
            examples:
              PackBuilderSettingsSample:
                $ref: '#/components/examples/PackBuilderSettingsSample'
      responses:
        '201':
          description: Returns a created PackBuilderSettings object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pack_builder_settings:
                    $ref: '#/components/schemas/PackBuilderSetting'
        '422':
          $ref: '#/components/responses/422ValidationError'
        default:
          $ref: '#/components/responses/UnknownError'
    get:
      tags:
      - Pack Builder Settings
      security:
      - bearerAuth: []
      summary: Retrieves a pack builders settings
      operationId: listPackBuildersSettings
      description: 'Retrieves a pack builders settings.

        '
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                type: object
                required:
                - pack_builder_settings
                properties:
                  pack_builder_settings:
                    $ref: '#/components/schemas/PackBuilderSetting'
        default:
          $ref: '#/components/responses/UnknownError'
    put:
      tags:
      - Pack Builder Settings
      security:
      - bearerAuth: []
      summary: Update a pack builder settings
      operationId: updatePackBuilderSettings
      description: Update PackBuilderSettings object
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - category_settings
              - visual_settings
              - protocol_settings
              properties:
                category_settings:
                  type: object
                  required:
                  - enable_product_categories
                  - category_selection_behavior
                  - category_menu_selection_behavior
                  - category_menu_text_align
                  properties:
                    enable_product_categories:
                      type: boolean
                      example: true
                    category_selection_behavior:
                      type: string
                      enum:
                      - scroll
                      - filter
                      example: scroll
                    category_menu_selection_behavior:
                      type: string
                      enum:
                      - bold
                      - underline
                      - fill
                      example: bold
                    category_menu_text_align:
                      type: string
                      enum:
                      - left
                      - center
                      - right
                      example: left
                visual_settings:
                  type: object
                  required:
                  - layout
                  - product_cards
                  - typography
                  - colors
                  - buttons
                  - copy
                  properties:
                    layout:
                      type: object
                      required:
                      - product_view
                      - screen_width
                      - drawer_settings
                      - override
                      properties:
                        product_view:
                          type: string
                          enum:
                          - grid
                          - list
                          example: grid
                        screen_width:
                          type: string
                          enum:
                          - fixed
                          - flex
                          example: fixed
                        drawer_settings:
                          type: string
                          enum:
                          - temporary
                          - permanent
                          example: permanent
                        modal_mode:
                          type: string
                          enum:
                          - basic
                          - precision
                          - enhanced
                          - standard
                          example: basic
                        override:
                          type: boolean
                          example: false
                    product_cards:
                      type: object
                      required:
                      - image_aspect_ratio
                      - image_corners
                      - show_icon_labels
                      - cart_item_spacing_style
                      - override
                      properties:
                        image_aspect_ratio:
                          type: string
                          enum:
                          - '1:1'
                          - '4:3'
                          example: '1:1'
                        image_corners:
                          type: string
                          enum:
                          - rounded
                          - square
                          example: rounded
                        cycle_length:
                          type: integer
                          enum:
                          - 7
                          - 10
                          example: 7
                        show_icon_labels:
                          type: boolean
                          example: false
                        cart_item_spacing_style:
                          type: string
                          enum:
                          - default
                          - compact
                          - comfortable
                          example: compact
                        override:
                          type: boolean
                          example: false
                    typography:
                      type: object
                      required:
                      - text_size
                      - header_font
                      - body_font
                      - link_style
                      - override
                      properties:
                        text_size:
                          type: string
                          enum:
                          - small
                          - medium
                          - large
                          example: small
                        header_font:
                          type: object
                          required:
                          - font_family
                          - font_weight
                          properties:
                            font_family:
                              type: string
                              example: Open Sand
                            font_weight:
                              type: string
                              example: bold
                        body_font:
                          type: object
                          required:
                          - font_family
                          - font_weight
                          properties:
                            font_family:
                              type: string
                              example: Open Sand
                            font_weight:
                              type: string
                              example: regular
                        link_style:
                          type: string
                          enum:
                          - underline
                          - bold
                          - normal
                          example: underline
                        override:
                          type: boolean
                          example: false
                    colors:
                      type: object
                      required:
                      - primary_fill
                      - secondary_fill
                      - buttons
                      - icons
                      - header_text
                      - body_text
                      - links
                      - dividers
                      - override
                      properties:
                        primary_fill:
                          type: string
                          example: '#000000'
                        secondary_fill:
                          type: string
                          example: '#000000'
                        buttons:
                          type: string
                          example: '#000000'
                        icons:
                          type: string
                          example: '#000000'
                        header_text:
                          type: string
                          example: '#000000'
                        body_text:
                          type: string
                          example: '#000000'
                        links:
                          type: string
                          example: '#000000'
                        dividers:
                          type: string
                          example: '#000000'
                        override:
                          type: boolean
                          example: false
                    buttons:
                      type: object
                      required:
                      - corner_style
                      - ripple_effect
                      - checkout_button_text
                      - override
                      properties:
                        corner_style:
                          type: string
                          enum:
                          - square
                          - round
                          - soft
                          example: round
                        ripple_effect:
                          type: boolean
                          example: false
                        checkout_button_text:
                          type: string
                          example: ''
                        override:
                          type: boolean
                          example: false
                    copy:
                      type: object
                      required:
                      - empty_cart_message
                      - error_message
                      properties:
                        empty_cart_message:
                          type: string
                          example: ''
                        error_message:
                          type: string
                          example: ''
                protocol_settings:
                  type: object
                  required:
                  - mode
                  properties:
                    mode:
                      type: string
                      enum:
                      - basic
                      - precision
                      - enhanced
                      - standard
                      example: basic
                    cycle_length:
                      type:
                      - integer
                      - 'null'
                      enum:
                      - 7
                      - 10
                      example: 7
      responses:
        '200':
          description: Returns the updated PackBuilderSetting object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pack_builder_settings:
                    $ref: '#/components/schemas/PackBuilderSetting'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    delete:
      tags:
      - Pack Builder Settings
      security:
      - bearerAuth: []
      summary: Delete a pack builder settings
      operationId: deletePackBuilderSettings
      description: Delete a PackBuilderSettings object.
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      responses:
        '204':
          $ref: '#/components/responses/204ConfirmDeletion'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
components:
  responses:
    422ValidationError:
      description: Validation error response.
      content:
        application/json:
          schema:
            type: object
            title: Validation Error
            required:
            - message
            - errors
            description: A validation error response from the OK Capsule API (Joi validation)
            properties:
              message:
                description: A human-readable message indicating a validation error occurred.
                maxLength: 40000
                type: string
                example: Validation error
              errors:
                description: An array of validation errors from Joi schema validation
                type: array
                items:
                  type: object
                  required:
                  - message
                  - type
                  properties:
                    message:
                      description: A human-readable message providing more details about the validation error.
                      type: string
                      example: '''business_name'' is required'
                    type:
                      description: The Joi validation type that failed.
                      type: string
                      example: any.required
    204ConfirmDeletion:
      description: Confirms resource deletion.
    UnknownError:
      description: Error response.
      content:
        application/json:
          schema:
            title: Error Model
            description: An error response from the OK Capsule API
            type: object
            properties:
              error:
                title: Error Model Content
                type: object
                description: Error details object
                required:
                - message
                properties:
                  errorCode:
                    description: For some errors that could be handled programmatically, a short string indicating the error code.
                    maxLength: 5000
                    type: string
                    example: RESOURCE_NOT_FOUND
                  message:
                    description: A human-readable message providing more details about the error.
                    maxLength: 40000
                    type: string
                    example: The requested resource was not found
              message:
                description: Top-level error message (present in some error responses)
                type: string
                example: Internal Server Error
            required:
            - error
  schemas:
    ValidationError:
      type: object
      title: Validation Error
      required:
      - message
      - errors
      description: A validation error response from the OK Capsule API (Joi validation)
      properties:
        message:
          description: A human-readable message indicating a validation error occurred.
          maxLength: 40000
          type: string
          example: Validation error
        errors:
          description: An array of validation errors from Joi schema validation
          type: array
          items:
            type: object
            required:
            - message
            - type
            properties:
              message:
                description: A human-readable message providing more details about the validation error.
                type: string
                example: '''business_name'' is required'
              type:
                description: The Joi validation type that failed.
                type: string
                example: any.required
    ErrorModel:
      title: Error Model
      description: An error response from the OK Capsule API
      type: object
      properties:
        error:
          title: Error Model Content
          type: object
          description: Error details object
          required:
          - message
          properties:
            errorCode:
              description: For some errors that could be handled programmatically, a short string indicating the error code.
              maxLength: 5000
              type: string
              example: RESOURCE_NOT_FOUND
            message:
              description: A human-readable message providing more details about the error.
              maxLength: 40000
              type: string
              example: The requested resource was not found
        message:
          description: Top-level error message (present in some error responses)
          type: string
          example: Internal Server Error
      required:
      - error
    PackBuilderSetting:
      allOf:
      - type: object
        required:
        - id
        - pack_builder_id
        - category_settings
        - visual_settings
        - protocol_settings
        properties:
          id:
            type: string
            format: uuid
            example: 965c5b6e-d191-4287-9c42-fb52e36c7433
          pack_builder_id:
            type: string
            example: 47e4f05e-dc3c-4353-9dec-64139c65cddf
          category_settings:
            type: object
            required:
            - enable_product_categories
            - category_selection_behavior
            - category_menu_selection_behavior
            - category_menu_text_align
            properties:
              enable_product_categories:
                type: boolean
                example: true
              category_selection_behavior:
                type: string
                enum:
                - scroll
                - filter
                example: scroll
              category_menu_selection_behavior:
                type: string
                enum:
                - bold
                - underline
                - fill
                example: bold
              category_menu_text_align:
                type: string
                enum:
                - left
                - center
                - right
                example: left
          visual_settings:
            type: object
            required:
            - layout
            - product_cards
            - typography
            - colors
            - buttons
            - copy
            properties:
              layout:
                type: object
                required:
                - product_view
                - screen_width
                - drawer_settings
                - override
                properties:
                  product_view:
                    type: string
                    enum:
                    - grid
                    - list
                    example: grid
                  screen_width:
                    type: string
                    enum:
                    - fixed
                    - flex
                    example: fixed
                  drawer_settings:
                    type: string
                    enum:
                    - temporary
                    - permanent
                    example: permanent
                  modal_mode:
                    type: string
                    enum:
                    - basic
                    - precision
                    - enhanced
                    - standard
                    example: basic
                  override:
                    type: boolean
                    example: false
              product_cards:
                type: object
                required:
                - image_aspect_ratio
                - image_corners
                - show_icon_labels
                - cart_item_spacing_style
                - override
                properties:
                  image_aspect_ratio:
                    type: string
                    enum:
                    - '1:1'
                    - '4:3'
                    example: '1:1'
                  image_corners:
                    type: string
                    enum:
                    - rounded
                    - square
                    example: rounded
                  cycle_length:
                    type: integer
                    enum:
                    - 7
                    - 10
                    example: 7
                  show_icon_labels:
                    type: boolean
                    example: false
                  cart_item_spacing_style:
                    type: string
                    enum:
                    - default
                    - compact
                    - comfortable
                    example: compact
                  override:
                    type: boolean
                    example: false
              typography:
                type: object
                required:
                - text_size
                - header_font
                - body_font
                - link_style
                - override
                properties:
                  text_size:
                    type: string
                    enum:
                    - small
                    - medium
                    - large
                    example: small
                  header_font:
                    type: object
                    required:
                    - font_family
                    - font_weight
                    properties:
                      font_family:
                        type: string
                        example: Open Sand
                      font_weight:
                        type: string
                        example: bold
                  body_font:
                    type: object
                    required:
                    - font_family
                    - font_weight
                    properties:
                      font_family:
                        type: string
                        example: Open Sand
                      font_weight:
                        type: string
                        example: regular
                  link_style:
                    type: string
                    enum:
                    - underline
                    - bold
                    - normal
                    example: underline
                  override:
                    type: boolean
                    example: false
              colors:
                type: object
                required:
                - primary_fill
                - secondary_fill
                - buttons
                - icons
                - header_text
                - body_text
                - links
                - dividers
                - override
                properties:
                  primary_fill:
                    type: string
                    example: '#000000'
                  secondary_fill:
                    type: string
                    example: '#000000'
                  buttons:
                    type: string
                    example: '#000000'
                  icons:
                    type: string
                    example: '#000000'
                  header_text:
                    type: string
                    example: '#000000'
                  body_text:
                    type: string
                    example: '#000000'
                  links:
                    type: string
                    example: '#000000'
                  dividers:
                    type: string
                    example: '#000000'
                  override:
                    type: boolean
                    example: false
              buttons:
                type: object
                required:
                - corner_style
                - ripple_effect
                - checkout_button_text
                - override
                properties:
                  corner_style:
                    type: string
                    enum:
                    - square
                    - round
                    - soft
                    example: round
                  ripple_effect:
                    type: boolean
                    example: false
                  checkout_button_text:
                    type: string
                    example: ''
                  override:
                    type: boolean
                    example: false
              copy:
                type: object
                required:
                - empty_cart_message
                - error_message
                properties:
                  empty_cart_message:
                    type: string
                    example: ''
                  error_message:
                    type: string
                    example: ''
          protocol_settings:
            type: object
            required:
            - mode
            properties:
              mode:
                type: string
                enum:
                - basic
                - precision
                - enhanced
                - standard
                example: basic
              cycle_length:
                type: integer
                enum:
                - 7
                - 10
                example: 7
      - type: object
        required:
        - created_at
        - updated_at
        properties:
          created_at:
            type: string
            format: date-time
            readOnly: true
            example: '2023-03-20T09:12:28Z'
          updated_at:
            type: string
            format: date-time
            readOnly: true
            example: '2023-03-20T09:12:28Z'
  examples:
    PackBuilderSettingsSample:
      summary: Create pack builder settings.
      value:
        category_settings:
          enable_product_categories: true
          category_selection_behavior: scroll
          category_menu_selection_behavior: bold
          category_menu_text_align: left
        visual_settings:
          layout:
            product_view: grid
            screen_width: fixed
            drawer_settings: permanent
            modal_mode: basic
            override: true
          product_cards:
            image_aspect_ratio: '1:1'
            image_corners: square
            cycle_length: 7
            show_icon_labels: true
            cart_item_spacing_style: compact
            override: true
          typography:
            text_size: medium
            header_font:
              font_family: Open Sand
              font_weight: bold
            body_font:
              font_family: Open Sand
              font_weight: regular
            link_style: underline
            override: false
          colors:
            primary_fill: '#000000'
            secondary_fill: '#000000'
            buttons: '#000000'
            icons: '#000000'
            header_text: '#000000'
            body_text: '#000000'
            links: '#000000'
            dividers: '#000000'
            override: true
          buttons:
            corner_style: round
            ripple_effect: false
            checkout_button_text: ''
            override: false
          copy:
            empty_cart_message: ''
            error_message: ''
  parameters:
    IdParameter:
      in: path
      name: id
      required: true
      schema:
        type: string
        minimum: 1
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
