openapi: 3.2.0
info:
  description: '## Overview


    The OK Capsule API enables you to programmatically create supplement orders, manage consumers, and track shipments.'
  version: 2.0.0
  title: OKC core API V2 Destination Products API
  contact:
    name: Engineering Department, OKCapsule
    email: lukas@okcapsule.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- description: Production environment
  url: https://na1-prod.okcapsule.app
- description: Stage/Testing environment
  url: https://na1-stage.okcapsule.app
tags:
- name: Destination Products
paths:
  /v2/pack-builders/{id}/destination-products:
    post:
      tags:
      - Destination Products
      security:
      - bearerAuth: []
      summary: Send products to sync
      operationId: createDestinationProducts
      description: Sync products.
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - action
              - product_ids
              description: Manage destination products in external system (bulk operations)
              properties:
                action:
                  type: string
                  enum:
                  - CREATE
                  - UPDATE
                  - DELETE
                  - ACTIVATE
                  - DEACTIVATE
                  description: Action to perform on products
                  example: CREATE
                product_ids:
                  type: array
                  description: Product IDs to act upon
                  items:
                    type: string
                    format: uuid
                  example:
                  - e640d058-ecda-4f48-ba2f-c0a59804f36f
                  - 3ab920e6-9d59-4f33-aea0-5045f726dafb
              example:
                action: CREATE
                product_ids:
                - e640d058-ecda-4f48-ba2f-c0a59804f36f
              x-examples:
                create:
                  summary: Create products in external system
                  value:
                    action: CREATE
                    product_ids:
                    - e640d058-ecda-4f48-ba2f-c0a59804f36f
                    - 3ab920e6-9d59-4f33-aea0-5045f726dafb
                activate:
                  summary: Activate products
                  value:
                    action: ACTIVATE
                    product_ids:
                    - e640d058-ecda-4f48-ba2f-c0a59804f36f
                deactivate:
                  summary: Deactivate products
                  value:
                    action: DEACTIVATE
                    product_ids:
                    - 3ab920e6-9d59-4f33-aea0-5045f726dafb
                delete:
                  summary: Delete products from external system
                  value:
                    action: DELETE
                    product_ids:
                    - e640d058-ecda-4f48-ba2f-c0a59804f36f
            examples:
              DestinationProductsSingleSample:
                $ref: '#/components/examples/DestinationProductsSingleSample'
              DestinationProductsMultiSample:
                $ref: '#/components/examples/DestinationProductsMultiSample'
      responses:
        '200':
          description: Returns a created Order object.
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/DestinationProduct'
        '422':
          $ref: '#/components/responses/422ValidationError'
        default:
          $ref: '#/components/responses/UnknownError'
components:
  responses:
    UnknownError:
      description: Error response.
      content:
        application/json:
          schema:
            title: Error Model
            description: An error response from the OK Capsule API
            type: object
            properties:
              error:
                title: Error Model Content
                type: object
                description: Error details object
                required:
                - message
                properties:
                  errorCode:
                    description: For some errors that could be handled programmatically, a short string indicating the error code.
                    maxLength: 5000
                    type: string
                    example: RESOURCE_NOT_FOUND
                  message:
                    description: A human-readable message providing more details about the error.
                    maxLength: 40000
                    type: string
                    example: The requested resource was not found
              message:
                description: Top-level error message (present in some error responses)
                type: string
                example: Internal Server Error
            required:
            - error
    422ValidationError:
      description: Validation error response.
      content:
        application/json:
          schema:
            type: object
            title: Validation Error
            required:
            - message
            - errors
            description: A validation error response from the OK Capsule API (Joi validation)
            properties:
              message:
                description: A human-readable message indicating a validation error occurred.
                maxLength: 40000
                type: string
                example: Validation error
              errors:
                description: An array of validation errors from Joi schema validation
                type: array
                items:
                  type: object
                  required:
                  - message
                  - type
                  properties:
                    message:
                      description: A human-readable message providing more details about the validation error.
                      type: string
                      example: '''business_name'' is required'
                    type:
                      description: The Joi validation type that failed.
                      type: string
                      example: any.required
  schemas:
    DestinationProduct:
      allOf:
      - type: object
        properties:
          sync_process_id:
            type: string
            format: uuid
            example: a390f1ab-6c54-4b01-90e6-d701748f1837
          status:
            type: object
            properties:
              result:
                type: string
                enum:
                - Success
                - Fail
                example: Success
              error_message:
                type: string
                example: Error occurred
  parameters:
    IdParameter:
      in: path
      name: id
      required: true
      schema:
        type: string
        minimum: 1
  examples:
    DestinationProductsSingleSample:
      summary: Sync single client product.
      value:
        action: CREATE
        product_ids:
        - d290f1ee-6c54-4b01-90e6-d701748f0851
    DestinationProductsMultiSample:
      summary: Sync multiple client products.
      value:
        action: CREATE
        product_ids:
        - d290f1ee-6c54-4b01-90e6-d701748f0851
        - e640d058-ecda-4f48-ba2f-c0a59804f36f
        - a390f1ab-6c54-4b01-90e6-d701748f1837
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
