openapi: 3.2.0
info:
  description: '## Overview


    The OK Capsule API enables you to programmatically create supplement orders, manage consumers, and track shipments.'
  version: 2.0.0
  title: OKC core API V2 Order transaction logs API
  contact:
    name: Engineering Department, OKCapsule
    email: lukas@okcapsule.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- description: Production environment
  url: https://na1-prod.okcapsule.app
- description: Stage/Testing environment
  url: https://na1-stage.okcapsule.app
tags:
- name: Order transaction logs
paths:
  /v2/order-transaction-logs:
    get:
      tags:
      - Order transaction logs
      security:
      - bearerAuth: []
      summary: List all order transaction logs
      operationId: listOrderTransactionLogs
      description: 'List all order transaction logs.


        Filterable fields:

        * ALL'
      parameters:
      - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                type: object
                required:
                - OrderTransactionLogs
                properties:
                  transactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderTransactionLogs'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/order-transaction-logs/{id}:
    get:
      tags:
      - Order transaction logs
      security:
      - bearerAuth: []
      summary: Retrieves a order transaction logs
      operationId: oneOrderTransactionLogs
      description: Returns one order transaction logs.
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  transaction:
                    $ref: '#/components/schemas/OrderTransactionLogs'
        default:
          $ref: '#/components/responses/UnknownError'
components:
  responses:
    UnknownError:
      description: Error response.
      content:
        application/json:
          schema:
            title: Error Model
            description: An error response from the OK Capsule API
            type: object
            properties:
              error:
                title: Error Model Content
                type: object
                description: Error details object
                required:
                - message
                properties:
                  errorCode:
                    description: For some errors that could be handled programmatically, a short string indicating the error code.
                    maxLength: 5000
                    type: string
                    example: RESOURCE_NOT_FOUND
                  message:
                    description: A human-readable message providing more details about the error.
                    maxLength: 40000
                    type: string
                    example: The requested resource was not found
              message:
                description: Top-level error message (present in some error responses)
                type: string
                example: Internal Server Error
            required:
            - error
  parameters:
    IdParameter:
      in: path
      name: id
      required: true
      schema:
        type: string
        minimum: 1
    QueryParameters:
      in: query
      name: q
      description: Use Query DSL *query_string* syntax
      schema:
        type: string
  schemas:
    OrderTransactionLogs:
      allOf:
      - type: object
        required:
        - id
        - column_name
        - old_data
        - new_data
        - event_type
        - done_by
        - client_id
        - entity_id
        properties:
          id:
            type: string
            format: uuid
            example: d290f1ee-6c54-4b01-90e6-d701748f0851
          column_name:
            type: string
            example: discount_total
          old_data:
            type: string
            example: '23.1'
          new_data:
            type: string
            example: '22.1'
          event_type:
            type: string
            example: INSERT
          done_by:
            type: string
            example: d290f1ee-6c54-4b01-90e6-d701748f0851
          client_id:
            type: string
            example: d290f1ee-6c54-4b01-90e6-d701748f0851
          entity_id:
            type: string
            example: d290f1ee-6c54-4b01-90e6-d701748f0851
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
