openapi: 3.2.0
info:
  description: '## Overview


    The OK Capsule API enables you to programmatically create supplement orders, manage consumers, and track shipments. It is a REST API that accepts JSON requests, returns JSON responses, and uses standard HTTP methods and status codes.


    **All requests must be made over HTTPS.**


    📚 **Additional Resources:** [Getting Started Guide](https://docs.okcapsule.app/docs/getting-started) | [Recipes & Examples](https://docs.okcapsule.app/docs/category/recipes)


    ## Getting Started


    > **New to OK Capsule API?** Account and brand setup must be completed before contacting OK Capsule about API credentials. If you have not set up your account and brand yet, start with the [Getting Started Guide](https://docs.okcapsule.app/docs/getting-started) before proceeding.


    1. **Set up your account** - Your OK Capsule account must be created and active

    2. **Set up your brand** - At least one Product Line must be configured in your account

    3. **Contact OK Capsule about API credentials** - Reach out to your OK Capsule representative once account and brand setup are complete

    4. **Authenticate** - POST to `/v2/authentication/token` to get an access token

    5. **List products** - GET `/v2/products` to see available supplements

    6. **Create an order** - POST to `/v2/orders` with consumer and product details

    7. **Track fulfillment** - Monitor order status and shipping via `/v2/orders` and `/v2/fulfillments`


    ## Environments


    | Environment | Purpose | Notes |

    |-------------|---------|-------|

    | **Production** | Live orders | Real fulfillment and shipping |

    | **Stage** | Testing | Test data only, no real shipments |


    ⚠️ Users and data are environment-specific. Stage credentials do not work in Production.


    ## Core Concepts


    | Term | Route | Description |

    |------|-------|-------------|

    | **Client** | `/v2/clients` | Your organization (business partner submitting orders) |

    | **Consumer** | `/v2/consumers` | Your end customer who receives supplements |

    | **Product** | `/v2/products` | A client-specific instance of an OKC Product with custom branding |

    | **Order** | `/v2/orders` | A request to fulfill supplements for a consumer |

    | **Order Line** | — | A set of pouches within an order (e.g., 30-day supply) |

    | **Pouch** | — | An individual daily packet of supplements |

    | **Fulfillment** | `/v2/fulfillments` | Shipping, tracking, and delivery information for an order |

    | **Assembly** | `/v2/assemblies` | A client''s predefined bundle of products (commonly called a "pack") |

    | **Product Line** | `/v2/product-lines` | A client''s marketing brand (appears on packaging) |

    | **OKC Product** | — | A supplement in the OK Capsule master catalog (what OKC purchases from vendors) |

    | **User** | `/v2/users` | An authorized person who accesses the API or portal |

    | **Contact** | `/v2/contacts` | A person associated with a client, managed for communication purposes |'
  version: 2.0.0
  title: OKC core API V2 Pack Builder Shipping Profiles API
  contact:
    name: Engineering Department, OKCapsule
    email: lukas@okcapsule.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- description: Production environment
  url: https://na1-prod.okcapsule.app
- description: Stage/Testing environment
  url: https://na1-stage.okcapsule.app
tags:
- name: Pack Builder Shipping Profiles
paths:
  /v2/pack-builders/{id}/shipping-profiles:
    post:
      tags:
      - Pack Builder Shipping Profiles
      security:
      - bearerAuth: []
      summary: Add a pack builder shipping profile in Shopify
      operationId: setPackBuilderShippingProfile
      description: Add a PackBuilderMappedProduct object
      parameters:
      - $ref: '#/components/parameters/IdParameter'
      - in: query
        name: q
        description: For internal users only. Use Query DSL *query_string* syntax to send client id.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - shipping_rates
              properties:
                shipping_rates:
                  type: array
                  items:
                    type: object
                    required:
                    - name
                    - amount
                    properties:
                      name:
                        type: string
                        example: Standard
                      amount:
                        type: number
                        example: 3.99
        description: Pack Builder shipping profile to create
      responses:
        '200':
          description: Returns the PackBuilderProductMapped object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile:
                    type: object
                    $ref: '#/components/schemas/ShippingProfile'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
components:
  schemas:
    ErrorModel:
      title: Error Model
      description: An error response from the OK Capsule API
      type: object
      properties:
        error:
          title: Error Model Content
          type: object
          description: Error details object
          required:
          - message
          properties:
            errorCode:
              description: For some errors that could be handled programmatically, a short string indicating the error code.
              maxLength: 5000
              type: string
              example: RESOURCE_NOT_FOUND
            message:
              description: A human-readable message providing more details about the error.
              maxLength: 40000
              type: string
              example: The requested resource was not found
        message:
          description: Top-level error message (present in some error responses)
          type: string
          example: Internal Server Error
      required:
      - error
    ValidationError:
      type: object
      title: Validation Error
      required:
      - message
      - errors
      description: A validation error response from the OK Capsule API (Joi validation)
      properties:
        message:
          description: A human-readable message indicating a validation error occurred.
          maxLength: 40000
          type: string
          example: Validation error
        errors:
          description: An array of validation errors from Joi schema validation
          type: array
          items:
            type: object
            required:
            - message
            - type
            properties:
              message:
                description: A human-readable message providing more details about the validation error.
                type: string
                example: '''business_name'' is required'
              type:
                description: The Joi validation type that failed.
                type: string
                example: any.required
    ShippingProfile:
      allOf:
      - type: object
        required:
        - name
        - locationGroupsToCreate
        - variantsToAssociate
        properties:
          name:
            type: string
            example: OK Capsule Shipping
          locationGroupsToCreate:
            type: object
            properties:
              locationsToAdd:
                type: array
                items:
                  type: string
                  example: gid://shopify/Location/74723164417
              zonesToCreate:
                type: array
                items:
                  type: object
                  required:
                  - name
                  - countries
                  - methodDefinitionsToCreate
                  properties:
                    name:
                      type: string
                      example: USA Zone
                    countries:
                      type: array
                      items:
                        type: object
                        required:
                        - code
                        - includeAllProvinces
                        properties:
                          code:
                            type: string
                            example: US
                          includeAllProvinces:
                            type: boolean
                            example: true
                    methodDefinitionsToCreate:
                      type: array
                      items:
                        type: object
                        required:
                        - name
                        - rateDefinition
                        properties:
                          name:
                            type: string
                            example: Standard
                          rateDefinition:
                            type: object
                            required:
                            - price
                            properties:
                              price:
                                type: object
                                required:
                                - amount
                                - currencyCode
                                properties:
                                  amount:
                                    type: number
                                    example: 3.99
                                  currencyCode:
                                    type: string
                                    example: USD
          variantsToAssociate:
            type: array
            items:
              type: string
              example: gid://shopify/ProductVariant/123456789
  parameters:
    IdParameter:
      in: path
      name: id
      required: true
      schema:
        type: string
        minimum: 1
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
