openapi: 3.0.0
servers:
  - description: Production environment
    url: https://na1-prod.okcapsule.app
  - description: Stage/Testing environment
    url: https://na1-stage.okcapsule.app
info:
  description: >-
    ## Overview


    The OK Capsule API enables you to programmatically create supplement orders,
    manage consumers, and track shipments. It is a REST API that accepts JSON
    requests, returns JSON responses, and uses standard HTTP methods and status
    codes.


    **All requests must be made over HTTPS.**


    📚 **Additional Resources:** [Getting Started
    Guide](https://docs.okcapsule.app/docs/getting-started) | [Recipes &
    Examples](https://docs.okcapsule.app/docs/category/recipes)


    ## Getting Started


    > **New to OK Capsule API?** Account and brand setup must be completed
    before contacting OK Capsule about API credentials. If you have not set up
    your account and brand yet, start with the [Getting Started
    Guide](https://docs.okcapsule.app/docs/getting-started) before proceeding.


    1. **Set up your account** - Your OK Capsule account must be created and
    active

    2. **Set up your brand** - At least one Product Line must be configured in
    your account

    3. **Contact OK Capsule about API credentials** - Reach out to your OK
    Capsule representative once account and brand setup are complete

    4. **Authenticate** - POST to `/v2/authentication/token` to get an access
    token

    5. **List products** - GET `/v2/products` to see available supplements

    6. **Create an order** - POST to `/v2/orders` with consumer and product
    details

    7. **Track fulfillment** - Monitor order status and shipping via
    `/v2/orders` and `/v2/fulfillments`


    ## Environments


    | Environment | Purpose | Notes |

    |-------------|---------|-------|

    | **Production** | Live orders | Real fulfillment and shipping |

    | **Stage** | Testing | Test data only, no real shipments |


    ⚠️ Users and data are environment-specific. Stage credentials do not work in
    Production.


    ## Core Concepts


    | Term | Route | Description |

    |------|-------|-------------|

    | **Client** | `/v2/clients` | Your organization (business partner
    submitting orders) |

    | **Consumer** | `/v2/consumers` | Your end customer who receives
    supplements |

    | **Product** | `/v2/products` | A client-specific instance of an OKC
    Product with custom branding |

    | **Order** | `/v2/orders` | A request to fulfill supplements for a consumer
    |

    | **Order Line** | — | A set of pouches within an order (e.g., 30-day
    supply) |

    | **Pouch** | — | An individual daily packet of supplements |

    | **Fulfillment** | `/v2/fulfillments` | Shipping, tracking, and delivery
    information for an order |

    | **Assembly** | `/v2/assemblies` | A client's predefined bundle of products
    (commonly called a "pack") |

    | **Product Line** | `/v2/product-lines` | A client's marketing brand
    (appears on packaging) |

    | **OKC Product** | — | A supplement in the OK Capsule master catalog (what
    OKC purchases from vendors) |

    | **User** | `/v2/users` | An authorized person who accesses the API or
    portal |

    | **Contact** | `/v2/contacts` | A person associated with a client, managed
    for communication purposes |
  version: 2.0.0
  title: OKC core API V2
  contact:
    name: Engineering Department, OKCapsule
    email: lukas@okcapsule.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
tags:
  - name: Authentication
    description: >-
      OK Capsule API uses **Oauth2.0 with OpenID Connect**. It issues
      **access**, **id**, and **refresh** tokens. **Access** tokens is used to
      authenticate API requests and are short lived (1 day). *Id token** can be
      used by a client application to display user's information. It is also
      short lived (1 day).  **Refresh** token is long lived (10 years) and is
      used to renew **access** and **id** tokens. Authentication to the API is
      performed via Bearer auth Authorization header: *Authorization: Bearer
      <access_token>*.
  - name: Assemblies
    description: Routes to manage assemblies (formerly packs)
  - name: Batches
    description: Routes to manage batches
  - name: Billings
    description: Routes to manage billing
  - name: Client Addresses
    description: Routes to manage client addresses
  - name: Clients
    description: Routes to manage clients
  - name: Consumer Addresses
    description: Routes to manage consumer addresses
  - name: Consumers
    description: Routes to manage consumers
  - name: Contact Addresses
    description: Routes to manage contact addresses
  - name: Contacts
    description: Routes to manage contacts
  - name: Fulfillments
    description: Routes to manage fulfillments
  - name: OKC Products
    description: Routes to manage OK Capsule products
  - name: Orders
    description: Routes to manage orders
  - name: Order Lines
    description: Routes to manage order lines
  - name: Pamphlets
    description: Routes to manage pamphlets
  - name: Product Lines
    description: Routes to manage product lines (formerly brands).
  - name: Product Sets
    description: >-
      Routes to manage client product sets (a set is a client product composed
      of other client products)
  - name: Products
    description: Routes to manage client products
  - name: Statuses
    description: List of statuses for resources
  - name: Users
    description: Routes to manage client users
paths:
  /v2/authentication/token:
    post:
      tags:
        - Authentication
      security:
        - bearerAuth: []
      summary: Request access, id, and refresh tokens
      description: >-
        Use username and password to retrieve **access token**, **id token**,
        and **refresh token**. The access token will include permissions based
        on the user's assigned role.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: password
              required:
                - username
                - password
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - access_token
                  - id_token
                  - refresh_token
                  - token_type
                  - expires_in
                  - permissions
                properties:
                  access_token:
                    type: string
                    example: eyJra1example
                  id_token:
                    type: string
                    example: eyJra1example
                  refresh_token:
                    type: string
                    example: eyJra1example
                  token_type:
                    type: string
                    example: Bearer
                  expires_in:
                    type: string
                    example: 86400
                  permissions:
                    type: string
                    example: >-
                      orders/read,orders/create,orders/update,orders/delete,products/read,products/create
        '422':
          description: Validation error response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                properties:
                  error:
                    type: object
                    required:
                      - message
                      - errors
                    properties:
                      message:
                        type: string
                        example: Validation error
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            message:
                              type: string
                              example: '''username'' is required'
                            type:
                              type: string
                              example: any.required
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
  /v2/authentication/refresh-token:
    post:
      tags:
        - Authentication
      security:
        - bearerAuth: []
      summary: Get new access and id tokens
      description: Use refresh token to retrieve access and id tokens
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
                  example: eyJra1example
              required:
                - refresh_token
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - access_token
                  - id_token
                  - refresh_token
                  - token_type
                  - expires_in
                properties:
                  access_token:
                    type: string
                    example: eyJra1example
                  id_token:
                    type: string
                    example: eyJra1example
                  token_type:
                    type: string
                    example: Bearer
                  expires_in:
                    type: string
                    example: 86400
        '422':
          $ref: '#/components/responses/422AuthValidationError'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/authentication/forgot-password:
    post:
      tags:
        - Authentication
      security:
        - bearerAuth: []
      summary: Trigger reset password email or text message
      description: >-
        Trigger reset password email or text message to receive confirmation
        code
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
              required:
                - email
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                    example: Confirmation code has been sent to email/phone number ...
        '422':
          $ref: '#/components/responses/422AuthValidationError'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/authentication/reset-password:
    post:
      tags:
        - Authentication
      security:
        - bearerAuth: []
      summary: Reset password
      description: Use confirmation code to reset password
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: user@example.com
                password:
                  type: string
                  format: password
                confirmation_code:
                  type: string
              required:
                - username
                - password
                - confirmation_code
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                    example: Password has been reset
        '422':
          $ref: '#/components/responses/422AuthValidationError'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/authentication/user:
    get:
      tags:
        - Authentication
      security:
        - bearerAuth: []
      summary: User information
      description: Get information about the user who issued token
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
  /v2/clients:
    post:
      tags:
        - Clients
      security:
        - bearerAuth:
            - clients/write
      summary: Creates a client.
      operationId: createClient
      description: Creates a client record.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - business_name
              properties:
                business_name:
                  type: string
                  example: Incorporated Company, LLC.
                display_name:
                  type: string
                  example: My Company
                is_test_account:
                  type: boolean
                  example: false
                is_international_shipping_enabled:
                  type: boolean
                  example: false
                onboarding_stage:
                  type: string
                  nullable: true
                  enum:
                    - signup
                    - verification
                    - introduction
                    - brand
                    - contacts
                    - addresses
                    - payment
                    - install_shopify
                    - formulary
                    - solution_packs
                    - pamphlet
                    - labels
                    - packet
                    - product_spec
                    - terms
                    - sla_rules
                    - test_order
                    - complete
                    - login
                    - confirmation_redirect
                  example: signup
                service_level:
                  type: string
                  enum:
                    - Starter
                    - Professional
                    - Enterprise
                  default: Starter
                  example: Starter
                contract_type:
                  type: string
                  enum:
                    - T&C
                    - MSA
                  default: T&C
                  example: T&C
                admin_user:
                  type: object
                  required:
                    - name
                    - email
                  properties:
                    name:
                      type: string
                      example: Example Tester
                    email:
                      type: string
                      format: email
                      example: user@example.com
                    phone_number:
                      type: string
                      example: '+16175551212'
                    locale:
                      type: string
                      pattern: ^[a-z]*-[A-Z]{2}$
                      example: en-US
                address:
                  type: object
                  description: Optional initial address for the client
                  properties:
                    is_default:
                      type: boolean
                      example: true
                    address_type:
                      type: string
                      enum:
                        - shipping
                        - billing
                        - legal
                        - return
                      example: billing
                    addressed_to:
                      type: string
                      maxLength: 35
                    address1:
                      type: string
                      maxLength: 100
                      example: 742 Evergreen Terrace
                    address2:
                      type: string
                      maxLength: 100
                    city:
                      type: string
                      maxLength: 50
                      example: Springfield
                    province_name:
                      type: string
                      maxLength: 30
                    country_name:
                      type: string
                      example: United States
                    postal_code:
                      type: string
                      maxLength: 10
                    phone_number:
                      type: string
                      maxLength: 15
                is_brand_remap_enabled:
                  type: boolean
                  default: false
                  example: false
                  description: >-
                    When enabled, allows brand remapping for this client's
                    products.
                status:
                  type: string
                  enum:
                    - Active
                    - Inactive
                    - Onboarding
                  default: Onboarding
                  x-internal: true
                  description: Internal use only - defaults to Onboarding.
                user_type:
                  type: string
                  enum:
                    - client
                    - internal
                  x-internal: true
                  description: Internal use only.
                max_user_count:
                  type: integer
                  minimum: 1
                  example: 5
                  x-internal: true
                  description: Internal use only - filtered out for client users.
                crm_account_id:
                  type: string
                  example: ABCDabcd123
                  x-internal: true
                  description: Internal use only - filtered out for client users.
            examples:
              ClientFullSample:
                $ref: '#/components/examples/ClientFullSample'
              ClientRequiredSample:
                $ref: '#/components/examples/ClientRequiredSample'
      responses:
        '201':
          description: Returns a created Client object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  client:
                    $ref: '#/components/schemas/Client'
                  admin_user:
                    $ref: '#/components/schemas/User'
        '422':
          $ref: '#/components/responses/422ValidationError'
        default:
          $ref: '#/components/responses/UnknownError'
    get:
      tags:
        - Clients
      security:
        - bearerAuth:
            - clients/read
      summary: List all clients.
      operationId: listClients
      description: |
        List all clients a user has access to.

        Filterable fields:
         * status
         * business_name
         * display_name
         * crm_id

        Sortable fields:
        * display_name
        * business_name
      parameters:
        - $ref: '#/components/parameters/LimitParameters'
        - $ref: '#/components/parameters/CursorParameters'
        - $ref: '#/components/parameters/SortByParameters'
        - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                required:
                  - clients
                properties:
                  clients:
                    type: array
                    items:
                      $ref: '#/components/schemas/Client'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/clients/{id}:
    get:
      tags:
        - Clients
      security:
        - bearerAuth:
            - clients/read
      summary: Retrieve a client.
      operationId: getClient
      description: Retrieves a client by id.
      parameters:
        - $ref: '#/components/parameters/IdParameter'
      responses:
        '200':
          description: Returns the Client object for a valid identifier.
          content:
            application/json:
              schema:
                type: object
                properties:
                  client:
                    $ref: '#/components/schemas/Client'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    put:
      tags:
        - Clients
      security:
        - bearerAuth:
            - clients/write
      summary: Update a client.
      operationId: updateClient
      description: Update Client object.
      parameters:
        - $ref: '#/components/parameters/IdParameter'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                business_name:
                  type: string
                  example: Incorporated Company, LLC.
                display_name:
                  type: string
                  example: My Company
                crm_account_id:
                  type: string
                  example: ABCDabcd123
                  x-internal: true
                  description: Internal use only - filtered out for client users.
                status:
                  type: string
                  enum:
                    - Active
                    - Inactive
                    - Onboarding
                  example: Active
                  x-internal: true
                  description: Internal use only - filtered out for client users.
                onboarding_stage:
                  type: string
                  nullable: true
                  enum:
                    - signup
                    - verification
                    - introduction
                    - brand
                    - contacts
                    - addresses
                    - payment
                    - install_shopify
                    - formulary
                    - solution_packs
                    - pamphlet
                    - labels
                    - packet
                    - product_spec
                    - terms
                    - sla_rules
                    - test_order
                    - complete
                    - login
                    - confirmation_redirect
                    - billing_address
                    - packaging
                    - product_customization
                    - categories
                    - creating_drafts
                    - shipping_tracking
                  example: signup
                max_user_count:
                  type: integer
                  minimum: 0
                  example: 5
                  x-internal: true
                  description: Internal use only - filtered out for client users.
                is_test_account:
                  type: boolean
                  example: false
                is_international_shipping_enabled:
                  type: boolean
                  example: false
                tax_id:
                  type: string
                  example: 001-999-874
                business_contact_firstname:
                  type: string
                  example: John
                business_contact_lastname:
                  type: string
                  example: Doe
                business_contact_email:
                  type: string
                  format: email
                  example: johndoe@email.com
                billing_contact_firstname:
                  type: string
                  example: Jane
                billing_contact_lastname:
                  type: string
                  example: Smith
                billing_contact_address_id:
                  type: string
                  format: uuid
                  example: dc6fcff9-0464-4c03-9bb9-e90812361a66
                service_level:
                  type: string
                  enum:
                    - Starter
                    - Professional
                    - Enterprise
                  example: Starter
                contract_type:
                  type: string
                  enum:
                    - T&C
                    - MSA
                  example: T&C
                stripe_customer_id:
                  type: string
                  example: cus_abc123
                payment_session_id:
                  type: string
                  nullable: true
                  example: pi_abc123
                is_brand_remap_enabled:
                  type: boolean
                  example: false
                  description: >-
                    When enabled, allows brand remapping for this client's
                    products.
      responses:
        '200':
          description: Returns the updated client.
          content:
            application/json:
              schema:
                type: object
                properties:
                  client:
                    $ref: '#/components/schemas/Client'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    delete:
      tags:
        - Clients
      security:
        - bearerAuth:
            - clients/write
      summary: Delete a client.
      operationId: deleteClient
      description: Delete a Client object.
      parameters:
        - $ref: '#/components/parameters/IdParameter'
      responses:
        '204':
          description: Confirms deletion of a client.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
  /v2/addresses:
    post:
      tags:
        - Client Addresses
      security:
        - bearerAuth:
            - addresses/write
      summary: Creates an address for a client.
      operationId: createClientAddress
      description: Creates and address for a client.
      parameters:
        - &ref_1
          in: query
          name: q
          description: >-
            For internal users only. Use Query DSL *query_string* syntax to send
            client id.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema: &ref_0
              type: object
              required:
                - address1
                - city
                - country_name
              properties:
                is_default:
                  type: boolean
                  example: true
                address_type:
                  type: string
                  enum:
                    - shipping
                    - billing
                    - legal
                    - return
                  example: shipping
                addressed_to:
                  type: string
                  example: Homer Simpson
                address1:
                  type: string
                  example: 742 Evergreen Terrace
                  maxLength: 100
                  description: Will be abbreviated/wrapped for shipping labels if needed
                address2:
                  type: string
                  example: Apt. 23
                  maxLength: 100
                  description: Will be abbreviated/wrapped for shipping labels if needed
                city:
                  type: string
                  example: Springfield
                  maxLength: 50
                province_name:
                  type: string
                  nullable: true
                  example: Ohio
                  description: Optional - will be validated against country
                country_name:
                  type: string
                  example: United States
                postal_code:
                  type: string
                  nullable: true
                  example: '45501'
                phone_number:
                  type: string
                  format: E.164
                  example: '+12133734253'
                  description: Required if address_type is 'return'
            examples:
              AddressFullSample:
                $ref: '#/components/examples/AddressFullSample'
              AddressRequiredSample:
                $ref: '#/components/examples/AddressRequiredSample'
      responses:
        '201':
          description: Returns created Address object.
          content:
            application/json:
              schema:
                type: object
                required:
                  - address
                properties:
                  address:
                    $ref: '#/components/schemas/Address'
        '422':
          $ref: '#/components/responses/422ValidationError'
        default:
          $ref: '#/components/responses/UnknownError'
    get:
      tags:
        - Client Addresses
      security:
        - bearerAuth:
            - addresses/read
      summary: Retrieves a collection of Client Addresses.
      operationId: listClientAddresses
      description: |
        List all client addresses.

        Filterable fields:
         * ALL
      parameters:
        - $ref: '#/components/parameters/LimitParameters'
        - $ref: '#/components/parameters/CursorParameters'
        - $ref: '#/components/parameters/SortByParameters'
        - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                required:
                  - addresses
                properties:
                  addresses:
                    type: array
                    items:
                      $ref: '#/components/schemas/Address'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
  /v2/addresses/count:
    get:
      tags:
        - Client Addresses
      security:
        - bearerAuth:
            - addresses/read
      summary: Count of all addresses
      operationId: getAddressTotalCount
      description: |
        Count of all addresses.

        Filterable fields:
        * ALL
      parameters:
        - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Count'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/addresses/{id}:
    get:
      tags:
        - Client Addresses
      security:
        - bearerAuth:
            - addresses/read
      summary: Retrieve a client address
      operationId: getClientAddress
      description: Retrieve client's address by id
      parameters:
        - $ref: '#/components/parameters/IdParameter'
      responses:
        '200':
          description: Returns the Address object for a valid identifier.
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/Address'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    put:
      tags:
        - Client Addresses
      security:
        - bearerAuth:
            - address/write
      summary: Update client's address
      operationId: updateClientAddress
      description: Update client's address
      parameters:
        - $ref: '#/components/parameters/IdParameter'
      requestBody:
        content:
          application/json:
            schema: *ref_0
      responses:
        '200':
          description: Returns the updated Address object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/Address'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    delete:
      tags:
        - Client Addresses
      security:
        - bearerAuth:
            - addresses/write
      summary: Delete client's address.
      operationId: deleteClientAddress
      description: Delete client's address.
      parameters:
        - $ref: '#/components/parameters/IdParameter'
      responses:
        '204':
          $ref: '#/components/responses/204ConfirmDeletion'
  /v2/consumers:
    post:
      tags:
        - Consumers
      security:
        - bearerAuth:
            - consumers/write
      summary: Creates a consumer.
      operationId: createConsumer
      description: Creates a consumer record.
      parameters:
        - *ref_1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - first_name
                - last_name
              properties:
                email:
                  type: string
                  format: email
                  maxLength: 100
                  example: user@example.com
                first_name:
                  type: string
                  maxLength: 100
                  example: John
                last_name:
                  type: string
                  maxLength: 100
                  example: Doe
                phone_number:
                  type: string
                  format: E.164
                  maxLength: 15
                  nullable: true
                  example: '+12133734253'
                client_custom_consumer_id:
                  type: string
                  nullable: true
                  example: ABCDE98765-789-89
                crm_account_id:
                  type: string
                  nullable: true
                  x-internal: true
                  description: Internal use only - filtered out for client users.
                  example: oAISOURS
                crm_id:
                  type: string
                  nullable: true
                  x-internal: true
                  description: Internal use only - filtered out for client users.
                  example: 12523-ABC-9874
            examples:
              ConsumerCompleteSample:
                $ref: '#/components/examples/ConsumerFullSample'
              ConsumerSample:
                $ref: '#/components/examples/ConsumerRequiredSample'
      responses:
        '201':
          description: Returns a created Consumer object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  consumer:
                    $ref: '#/components/schemas/Consumer'
        '422':
          $ref: '#/components/responses/422ValidationError'
        default:
          $ref: '#/components/responses/UnknownError'
    get:
      tags:
        - Consumers
      security:
        - bearerAuth:
            - consumers/read
      summary: List all consumers.
      operationId: listConsumers
      description: |
        List all consumers.

          Filterable fields:
          * email
          * first_name
          * last_name
          * crm_account_id
          * crm_id
          * client_custom_consumer
          
          Sortable fields:
          * first_name
          * last_name
      parameters:
        - $ref: '#/components/parameters/LimitParameters'
        - $ref: '#/components/parameters/CursorParameters'
        - $ref: '#/components/parameters/SortByParameters'
        - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                required:
                  - consumers
                properties:
                  consumers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Consumer'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
  /v2/consumers/count:
    get:
      tags:
        - Consumers
      security:
        - bearerAuth:
            - consumers/read
      summary: Count of all consumers
      operationId: getConsumerTotalCount
      description: |
        Count of all consumers.

         Filterable fields:
           * email
           * first_name
           * last_name
      parameters:
        - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Count'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/consumers/{id}:
    get:
      tags:
        - Consumers
      security:
        - bearerAuth:
            - consumers/read
      summary: Retrieve a consumer
      operationId: getConsumer
      description: Retrieve a consumer by id
      parameters:
        - $ref: '#/components/parameters/IdParameter'
        - *ref_1
      responses:
        '200':
          description: Returns the Consumer object for a valid identifier.
          content:
            application/json:
              schema:
                type: object
                properties:
                  consumer:
                    $ref: '#/components/schemas/Consumer'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    put:
      tags:
        - Consumers
      security:
        - bearerAuth:
            - consumers/write
      summary: Update a consumer
      operationId: updateConsumer
      description: Update a consumer
      parameters:
        - $ref: '#/components/parameters/IdParameter'
        - *ref_1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  maxLength: 100
                  example: user@example.com
                first_name:
                  type: string
                  maxLength: 100
                  example: John
                last_name:
                  type: string
                  maxLength: 100
                  nullable: true
                  example: Doe
                phone_number:
                  type: string
                  format: E.164
                  maxLength: 15
                  nullable: true
                  example: '+12133734253'
                client_custom_consumer_id:
                  type: string
                  nullable: true
                  example: ABCDE98765-789-89
                crm_account_id:
                  type: string
                  nullable: true
                  x-internal: true
                  description: Internal use only - filtered out for client users.
                  example: oAISOURS
                crm_id:
                  type: string
                  nullable: true
                  x-internal: true
                  description: Internal use only - filtered out for client users.
                  example: 12523-ABC-9874
      responses:
        '200':
          description: Returns the updated Consumer object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  consumer:
                    $ref: '#/components/schemas/Consumer'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    delete:
      tags:
        - Consumers
      security:
        - bearerAuth:
            - consumers/write
      summary: Delete a consumer
      operationId: deleteConsumer
      description: Delete a consumer.
      parameters:
        - $ref: '#/components/parameters/IdParameter'
        - *ref_1
      responses:
        '204':
          $ref: '#/components/responses/204ConfirmDeletion'
  /v2/consumers/{consumerId}/addresses:
    post:
      tags:
        - Consumer Addresses
      security:
        - bearerAuth:
            - addresses/write
      summary: Create consumer address
      operationId: createConsumerAddress
      description: Create consumer address
      parameters:
        - in: path
          name: consumerId
          required: true
          schema:
            type: string
            minimum: 1
        - *ref_1
      requestBody:
        content:
          application/json:
            schema: *ref_0
            examples:
              AddressFullSample:
                $ref: '#/components/examples/AddressFullSample'
              AddressRequiredSample:
                $ref: '#/components/examples/AddressRequiredSample'
      responses:
        '201':
          description: Returns a created Address object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/ConsumerAddress'
        '422':
          $ref: '#/components/responses/422ValidationError'
        default:
          $ref: '#/components/responses/UnknownError'
    get:
      tags:
        - Consumer Addresses
      security:
        - bearerAuth:
            - addresses/read
      summary: List consumer addresses
      operationId: listConsumerAddresses
      description: |
        List consumer addresses


        Filterable fields:
         * ALL
      parameters:
        - in: path
          name: consumerId
          required: true
          schema:
            type: string
            minimum: 1
        - $ref: '#/components/parameters/LimitParameters'
        - $ref: '#/components/parameters/CursorParameters'
        - $ref: '#/components/parameters/SortByParameters'
        - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                required:
                  - addresses
                properties:
                  addresses:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConsumerAddress'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
  /v2/consumers/{consumerId}/addresses/count:
    get:
      tags:
        - Consumer Addresses
      security:
        - bearerAuth:
            - addresses/read
      summary: Count of all addresses
      operationId: getConsumerAddressTotalCount
      description: |
        Count of all addresses.
         
         Filterable fields:
         * ALL
      parameters:
        - in: path
          name: consumerId
          required: true
          schema:
            type: string
            minimum: 1
        - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Count'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/consumers/{consumerId}/addresses/{id}:
    get:
      tags:
        - Consumer Addresses
      security:
        - bearerAuth:
            - addresses/read
      summary: Retrieve consumer address
      operationId: getConsumerAddress
      description: Retrieve consumer address by id
      parameters:
        - in: path
          name: consumerId
          required: true
          schema:
            type: string
            minimum: 1
        - $ref: '#/components/parameters/IdParameter'
        - *ref_1
      responses:
        '200':
          description: Returns the Address object for a valid identifier.
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/ConsumerAddress'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    put:
      tags:
        - Consumer Addresses
      security:
        - bearerAuth:
            - addresses/write
      summary: Update consumer address
      operationId: updateConsumerAddress
      description: Update consumer address
      parameters:
        - in: path
          name: consumerId
          required: true
          schema:
            type: string
            minimum: 1
        - $ref: '#/components/parameters/IdParameter'
        - *ref_1
      requestBody:
        content:
          application/json:
            schema: *ref_0
      responses:
        '200':
          description: Returns the updated Address object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/ConsumerAddress'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    delete:
      tags:
        - Consumer Addresses
      security:
        - bearerAuth:
            - addresses/write
      summary: Delete consumer address.
      operationId: deleteConsumerAddress
      description: Delete consumer address.
      parameters:
        - in: path
          name: consumerId
          required: true
          schema:
            type: string
            minimum: 1
        - $ref: '#/components/parameters/IdParameter'
        - *ref_1
      responses:
        '204':
          $ref: '#/components/responses/204ConfirmDeletion'
  /v2/contacts:
    post:
      tags:
        - Contacts
      security:
        - bearerAuth:
            - contacts/write
      summary: Creates a contact.
      operationId: createContact
      description: Creates a contact record.
      parameters:
        - *ref_1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - first_name
                - last_name
                - types
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                first_name:
                  type: string
                  example: John
                last_name:
                  type: string
                  example: Doe
                types:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    enum:
                      - Business
                      - Billing
                      - Technical
                      - Quality
                      - Operations
                      - Formulary
                  example:
                    - Business
                    - Billing
                  description: >-
                    At least one type is required. Defaults to ["Business"] if
                    not provided.
            examples:
              ContactSample:
                $ref: '#/components/examples/ContactSample'
      responses:
        '201':
          description: Returns a created Contact object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    $ref: '#/components/schemas/Contact'
        '422':
          $ref: '#/components/responses/422ValidationError'
        default:
          $ref: '#/components/responses/UnknownError'
    get:
      tags:
        - Contacts
      security:
        - bearerAuth:
            - contacts/read
      summary: List all contacts.
      operationId: listContacts
      description: |
        List all contacts.

          Filterable fields:
          * email
          * first_name
          * last_name
          * crm_account_id

          Sortable fields:
          * first_name
          * last_name
      parameters:
        - $ref: '#/components/parameters/LimitParameters'
        - $ref: '#/components/parameters/CursorParameters'
        - $ref: '#/components/parameters/SortByParameters'
        - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                required:
                  - contacts
                properties:
                  contacts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
  /v2/contacts/count:
    get:
      tags:
        - Contacts
      security:
        - bearerAuth:
            - contacts/read
      summary: Count of all contacts
      operationId: getContactTotalCount
      description: |
        Count of all contacts.

        Filterable fields:
           * email
           * first_name
           * last_name
      parameters:
        - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Count'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/contacts/{id}:
    get:
      tags:
        - Contacts
      security:
        - bearerAuth:
            - contacts/read
      summary: Retrieve a contact
      operationId: getContact
      description: Retrieve a contact by id
      parameters:
        - $ref: '#/components/parameters/IdParameter'
        - *ref_1
      responses:
        '200':
          description: Returns the Contact object for a valid identifier.
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    $ref: '#/components/schemas/Contact'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    put:
      tags:
        - Contacts
      security:
        - bearerAuth:
            - contacts/write
      summary: Update a contact
      operationId: updateContact
      description: Update a contact
      parameters:
        - $ref: '#/components/parameters/IdParameter'
        - *ref_1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - first_name
                - last_name
                - types
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                first_name:
                  type: string
                  example: John
                last_name:
                  type: string
                  example: Doe
                types:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    enum:
                      - Business
                      - Billing
                      - Technical
                      - Quality
                      - Operations
                      - Formulary
                  example:
                    - Business
                    - Billing
                  description: >-
                    At least one type is required. Defaults to ["Business"] if
                    not provided.
      responses:
        '200':
          description: Returns the updated Contact object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    $ref: '#/components/schemas/Contact'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    delete:
      tags:
        - Contacts
      security:
        - bearerAuth:
            - contacts/write
      summary: Delete a contact
      operationId: deleteContact
      description: Delete a contact.
      parameters:
        - $ref: '#/components/parameters/IdParameter'
        - *ref_1
      responses:
        '204':
          $ref: '#/components/responses/204ConfirmDeletion'
  /v2/contacts/{contactId}/addresses:
    post:
      tags:
        - Contact Addresses
      security:
        - bearerAuth:
            - addresses/write
      summary: Create contact address
      operationId: createContactAddress
      description: Create contact address
      parameters:
        - in: path
          name: contactId
          required: true
          schema:
            type: string
            minimum: 1
        - *ref_1
      requestBody:
        content:
          application/json:
            schema: *ref_0
            examples:
              AddressFullSample:
                $ref: '#/components/examples/AddressFullSample'
              AddressRequiredSample:
                $ref: '#/components/examples/AddressRequiredSample'
      responses:
        '201':
          description: Returns a created Address object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/ContactAddress'
        '422':
          $ref: '#/components/responses/422ValidationError'
        default:
          $ref: '#/components/responses/UnknownError'
    get:
      tags:
        - Contact Addresses
      security:
        - bearerAuth:
            - addresses/read
      summary: List contact addresses
      operationId: listContactAddresses
      description: |
        List contact addresses


        Filterable fields:
         * ALL
      parameters:
        - in: path
          name: contactId
          required: true
          schema:
            type: string
            minimum: 1
        - $ref: '#/components/parameters/LimitParameters'
        - $ref: '#/components/parameters/CursorParameters'
        - $ref: '#/components/parameters/SortByParameters'
        - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                required:
                  - addresses
                properties:
                  addresses:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactAddress'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
  /v2/contacts/{contactId}/addresses/count:
    get:
      tags:
        - Contact Addresses
      security:
        - bearerAuth:
            - addresses/read
      summary: Count of all addresses
      operationId: getContactAddressTotalCount
      description: |
        Count of all addresses.

         Filterable fields:
         * ALL
      parameters:
        - in: path
          name: contactId
          required: true
          schema:
            type: string
            minimum: 1
        - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Count'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/contacts/{contactId}/addresses/{id}:
    get:
      tags:
        - Contact Addresses
      security:
        - bearerAuth:
            - addresses/read
      summary: Retrieve contact address
      operationId: getContactAddress
      description: Retrieve contact address by id
      parameters:
        - in: path
          name: contactId
          required: true
          schema:
            type: string
            minimum: 1
        - $ref: '#/components/parameters/IdParameter'
        - *ref_1
      responses:
        '200':
          description: Returns the Address object for a valid identifier.
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/ContactAddress'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    put:
      tags:
        - Contact Addresses
      security:
        - bearerAuth:
            - addresses/write
      summary: Update contact address
      operationId: updateContactAddress
      description: Update contact address
      parameters:
        - in: path
          name: contactId
          required: true
          schema:
            type: string
            minimum: 1
        - $ref: '#/components/parameters/IdParameter'
        - *ref_1
      requestBody:
        content:
          application/json:
            schema: *ref_0
      responses:
        '200':
          description: Returns the updated Address object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/ContactAddress'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    delete:
      tags:
        - Contact Addresses
      security:
        - bearerAuth:
            - addresses/write
      summary: Delete contact address.
      operationId: deleteContactAddress
      description: Delete contact address.
      parameters:
        - in: path
          name: contactId
          required: true
          schema:
            type: string
            minimum: 1
        - $ref: '#/components/parameters/IdParameter'
        - *ref_1
      responses:
        '204':
          $ref: '#/components/responses/204ConfirmDeletion'
  /v2/orders:
    post:
      tags:
        - Orders
      security:
        - bearerAuth:
            - orders/write
      summary: Creates an order.
      operationId: createOrder
      description: >-
        Creates an order. Please note that pouches cannot contain more than 8
        supplements per time of administration.
      parameters:
        - *ref_1
      requestBody:
        content:
          application/json:
            schema: &ref_5
              type: object
              required:
                - consumer
                - shipping_address
                - order_lines
              properties:
                consumer:
                  type: object
                  description: >-
                    Consumer info - provide either 'id' for existing consumer,
                    or 'first_name'/'last_name' to create/update
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: >-
                        Existing consumer ID (if provided, first_name/last_name
                        are optional)
                      example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    first_name:
                      type: string
                      maxLength: 100
                      description: Consumer first name (required if no id provided)
                      example: John
                    last_name:
                      type: string
                      maxLength: 100
                      description: Consumer last name (required if first_name provided)
                      example: Doe
                    email:
                      type: string
                      format: email
                      maxLength: 100
                      example: john.doe@example.com
                    phone_number:
                      type: string
                      nullable: true
                      maxLength: 15
                      example: '+12133734253'
                shipping_address:
                  type: object
                  required:
                    - address1
                    - city
                    - country_name
                  properties:
                    addressee:
                      type: string
                      maxLength: 200
                      nullable: true
                      description: Name on shipping label (defaults to consumer name)
                      example: John Doe
                    address1:
                      type: string
                      maxLength: 100
                      description: Street address line 1
                      example: 742 Evergreen Terrace
                    address2:
                      type: string
                      maxLength: 100
                      nullable: true
                      example: Apt 2B
                    city:
                      type: string
                      maxLength: 50
                      example: Springfield
                    province_name:
                      type: string
                      nullable: true
                      example: Illinois
                    country_name:
                      type: string
                      example: United States
                    postal_code:
                      type: string
                      nullable: true
                      example: '62701'
                order_lines:
                  type: array
                  description: Order lines - each represents a pack/pouch configuration
                  items:
                    type: object
                    required:
                      - pouches
                    properties:
                      name:
                        type: string
                        nullable: true
                        description: Order line name
                        example: Monthly Wellness Pack
                      physician_name:
                        type: string
                        maxLength: 30
                        nullable: true
                        example: Dr. Smith
                      custom_text_1:
                        type: string
                        nullable: true
                        description: Custom text field 1
                      custom_text_2:
                        type: string
                        nullable: true
                        description: Custom text field 2
                      custom_text_3:
                        type: string
                        nullable: true
                        description: Custom text field 3
                      duration:
                        type: integer
                        minimum: 1
                        maximum: 60
                        default: 30
                        description: Duration in days
                        example: 30
                      client_custom_order_line_id:
                        type: string
                        nullable: true
                        description: Client's custom identifier for this order line
                        example: LINE-12345
                      client_custom_line_ids:
                        type: string
                        nullable: true
                        description: Client's custom line IDs (comma-separated)
                      client_custom_pack_name:
                        type: string
                        nullable: true
                        description: Custom pack name
                        example: My Daily Pack
                      has_special_handling:
                        type: boolean
                        default: false
                        description: Requires special handling
                      special_handling_instructions:
                        type: string
                        nullable: true
                        description: Special handling instructions
                      is_expedited:
                        type: boolean
                        default: false
                        description: Expedited shipping requested
                      is_priority_shipping:
                        type: boolean
                        default: false
                        description: Priority shipping requested
                      is_priority_production:
                        type: boolean
                        default: false
                        description: Priority production requested
                      is_static_item:
                        type: boolean
                        default: false
                        description: >-
                          Marks this order line as a static (non-normalized)
                          item. Used by integrations (e.g. Shopify) to skip
                          pack/protocol expansion.
                      contains_standalone:
                        type: boolean
                        default: false
                        description: >-
                          Indicates the order line contains a standalone
                          product.
                      set_id:
                        type: string
                        format: uuid
                        nullable: true
                        description: >-
                          Client product ID of the SET product this order line
                          was generated from during set explosion.
                        x-internal: true
                      status:
                        type: string
                        nullable: true
                        description: >-
                          Order line status. Defaults to the order status if not
                          provided.
                        example: Pending
                      order_acceptance_date:
                        type: string
                        format: date
                        nullable: true
                        description: Date the order line was accepted for production.
                        example: '2026-04-02'
                        x-internal: true
                      packaging_asset_group_id:
                        type: string
                        format: uuid
                        nullable: true
                        description: Custom packaging assets
                      share_url:
                        type: string
                        nullable: true
                        description: URL to share this order line
                      source_line_item_ids:
                        type: array
                        nullable: true
                        description: Source line item IDs from external system
                        items:
                          oneOf:
                            - type: string
                            - type: number
                      kit_id:
                        type: string
                        nullable: true
                        description: Kit identifier
                      crm_id:
                        type: string
                        nullable: true
                        description: CRM identifier
                        x-internal: true
                      pouches:
                        type: array
                        description: Pouches in this order line
                        items:
                          type: object
                          properties:
                            pack_id:
                              type: string
                              format: uuid
                              description: >-
                                Use existing pack/assembly (mutually exclusive
                                with contents)
                            time_of_administration:
                              type: string
                              description: When to take (Morning, Midday, Evening)
                              example: Morning
                            custom_label:
                              type: string
                              maxLength: 30
                              pattern: ^[a-zA-Z0-9\s!?@#$%^&*()_\-+\[\]{}':;~/|.,]*$
                              description: Custom pouch label
                              example: AM Vitamins
                            cycle:
                              type: string
                              default: daily
                              example: daily
                            cycle_length:
                              type: integer
                              enum:
                                - 0
                                - 7
                                - 10
                              default: 7
                              example: 7
                            duration:
                              type: integer
                              nullable: true
                              minimum: 1
                              maximum: 60
                              description: Override duration for this pouch
                            protocol_id:
                              type: string
                              format: uuid
                              nullable: true
                              description: Protocol to apply
                            set_id:
                              type: string
                              format: uuid
                              nullable: true
                              description: >-
                                Client product ID of a SET product. When
                                provided, the set will be automatically exploded
                                into individual order lines during processing.
                                Used primarily by the Shopify integration.
                            crm_id:
                              type: string
                              nullable: true
                              x-internal: true
                            contents:
                              type: array
                              description: >-
                                Pouch contents (required if pack_id not
                                provided)
                              items:
                                type: object
                                required:
                                  - client_product_id
                                properties:
                                  client_product_id:
                                    type: string
                                    format: uuid
                                    example: d290f1ee-6c54-4b01-90e6-d701748f0851
                                  serving_size:
                                    type: integer
                                    minimum: 1
                                    example: 2
                source:
                  type: string
                  default: v2 API
                  description: Order source
                  example: Shopify
                source_client_order_id:
                  type: string
                  nullable: true
                  description: Client's order ID from source system
                  example: ORD-2024-001
                client_custom_order_id:
                  type: string
                  nullable: true
                  description: Client's custom order ID
                  example: CUSTOM-001
                order_type:
                  type: string
                  enum:
                    - DTC
                    - Bulk
                  default: DTC
                  description: Order type
                email:
                  type: string
                  format: email
                  maxLength: 100
                  nullable: true
                  description: Contact email for order
                phone_number:
                  type: string
                  nullable: true
                  description: Contact phone for order
                note:
                  type: string
                  nullable: true
                  description: Order notes
                  example: Please include gift message
                comments:
                  type: string
                  nullable: true
                  description: Comments visible to client
                engineering_notes:
                  type: string
                  nullable: true
                  description: Internal engineering notes
                pack_builder_id:
                  type: string
                  format: uuid
                  nullable: true
                  description: Pack builder used for this order
                okc_affiliate_id:
                  type: string
                  nullable: true
                  description: Affiliate identifier
                  example: AFF-12345
                crm_id:
                  type: string
                  nullable: true
                  x-internal: true
                  description: CRM identifier (internal only)
                status:
                  type: string
                  x-internal: true
                  description: Order status (internal only - defaults to Pending)
                state:
                  type: string
                  x-internal: true
                  description: Order state (internal only - defaults to New)
                billing_status:
                  type: string
                  nullable: true
                  x-internal: true
                  description: Billing status (internal only)
                total:
                  type: number
                  x-internal: true
                  description: Order total (internal only)
                discount_total:
                  type: number
                  default: 0
                  x-internal: true
                  description: Discount total (internal only)
                fulfillment_fee_total:
                  type: number
                  default: 0
                  x-internal: true
                  description: Fulfillment fee total (internal only)
                shipping_fee_total:
                  type: number
                  default: 0
                  x-internal: true
                  description: Shipping fee total (internal only)
              example:
                consumer:
                  first_name: John
                  last_name: Doe
                  email: john.doe@example.com
                shipping_address:
                  address1: 742 Evergreen Terrace
                  city: Springfield
                  province_name: Illinois
                  country_name: United States
                  postal_code: '62701'
                order_lines:
                  - duration: 30
                    pouches:
                      - time_of_administration: Morning
                        contents:
                          - client_product_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                            serving_size: 2
              x-examples:
                required-only:
                  summary: Order with required fields only
                  value:
                    consumer:
                      first_name: John
                      last_name: Doe
                    shipping_address:
                      address1: 742 Evergreen Terrace
                      city: Springfield
                      country_name: United States
                    order_lines:
                      - pouches:
                          - contents:
                              - client_product_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                with-existing-consumer:
                  summary: Order with existing consumer ID
                  value:
                    consumer:
                      id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    shipping_address:
                      address1: 742 Evergreen Terrace
                      city: Springfield
                      country_name: United States
                    order_lines:
                      - pouches:
                          - contents:
                              - client_product_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                with-pack-id:
                  summary: Order using existing pack/assembly
                  value:
                    consumer:
                      first_name: John
                      last_name: Doe
                    shipping_address:
                      address1: 742 Evergreen Terrace
                      city: Springfield
                      country_name: United States
                    order_lines:
                      - pouches:
                          - pack_id: f1e2d3c4-b5a6-7890-1234-567890abcdef
                            time_of_administration: Morning
                complete:
                  summary: Order with all optional fields
                  value:
                    consumer:
                      first_name: John
                      last_name: Doe
                      email: john.doe@example.com
                      phone_number: '+12133734253'
                    shipping_address:
                      addressee: John Doe
                      address1: 742 Evergreen Terrace
                      address2: Apt 2B
                      city: Springfield
                      province_name: Illinois
                      country_name: United States
                      postal_code: '62701'
                    order_lines:
                      - name: Monthly Wellness Pack
                        physician_name: Dr. Smith
                        custom_text_1: Custom text 1
                        custom_text_2: Custom text 2
                        custom_text_3: Custom text 3
                        duration: 30
                        client_custom_order_line_id: LINE-12345
                        client_custom_pack_name: My Daily Pack
                        has_special_handling: false
                        is_expedited: false
                        is_priority_shipping: false
                        is_priority_production: false
                        pouches:
                          - time_of_administration: Morning
                            custom_label: AM Vitamins
                            cycle: daily
                            cycle_length: 7
                            contents:
                              - client_product_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                                serving_size: 2
                              - client_product_id: e2f3a4b5-c6d7-8901-2345-678901bcdef0
                                serving_size: 1
                          - time_of_administration: Evening
                            custom_label: PM Vitamins
                            cycle: daily
                            cycle_length: 7
                            contents:
                              - client_product_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                                serving_size: 1
                    source: Shopify
                    source_client_order_id: ORD-2024-001
                    client_custom_order_id: CUSTOM-001
                    order_type: DTC
                    email: john.doe@example.com
                    phone_number: '+12133734253'
                    note: Please include gift message
                    comments: First order from new customer
                    okc_affiliate_id: AFF-12345
            examples:
              OrderFullExample:
                $ref: '#/components/examples/OrderFullSample'
              OrderRequiredWithConsumerIdExample:
                $ref: '#/components/examples/OrderRequiredWithConsumerIdSample'
              OrderWithConsumerFieldsExample:
                $ref: '#/components/examples/OrderWithConsumerFieldsSample'
              OrderWithAssemblyExample:
                $ref: '#/components/examples/OrderWithAssemblySample'
              OrderWithMultipleTOAsExample:
                $ref: '#/components/examples/OrderWithMultipleTOAsSample'
              OrderWithMultipleOrderLinesExample:
                $ref: '#/components/examples/OrderWithMultipleOrderLinesSample'
              OrderWithProductsAndPackExample:
                $ref: '#/components/examples/OrderWithProductsAndPackSample'
      responses:
        '201':
          description: Returns a created Order object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  order:
                    $ref: '#/components/schemas/Order'
        '422':
          $ref: '#/components/responses/422ValidationError'
        default:
          $ref: '#/components/responses/UnknownError'
    get:
      tags:
        - Orders
      security:
        - bearerAuth:
            - orders/read
      summary: List all orders
      operationId: listOrders
      description: |
        List all orders.

          Filterable fields:
           * name
           * status
           * state
           * source
           * billing_status
           * submission_date
           * crm_id
      parameters:
        - $ref: '#/components/parameters/LimitParameters'
        - $ref: '#/components/parameters/CursorParameters'
        - $ref: '#/components/parameters/SortByParameters'
        - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                required:
                  - orders
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/orders/count:
    get:
      tags:
        - Orders
      security:
        - bearerAuth:
            - orders/read
      summary: Count of all orders
      operationId: getOrderTotalCount
      description: |
        Count of all orders.

        Filterable fields:
         * name
         * status
         * state
         * source
         * billing_status
         * submission_date
         * crm_id
      parameters:
        - $ref: '#/components/parameters/QueryParameters'
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Count'
        default:
          $ref: '#/components/responses/UnknownError'
  /v2/orders/by-client-order-id/{clientCustomOrderId}:
    get:
      tags:
        - Orders
      security:
        - bearerAuth:
            - orders/read
      summary: Retrieve an order by client custom order ID
      operationId: getOrderByClientCustomId
      description: >-
        Retrieve an order using the client's custom order identifier
        (`client_custom_order_id`) instead of the internal order UUID. The order
        must belong to the authenticated client.
      parameters:
        - name: clientCustomOrderId
          in: path
          required: true
          description: The client's custom order identifier.
          schema:
            type: string
      responses:
        '200':
          description: Returns the Order object matching the given client custom order ID.
          content:
            application/json:
              schema:
                type: object
                properties:
                  order:
                    $ref: '#/components/schemas/Order'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: No order found with the given client custom order ID.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
  /v2/orders/{id}:
    get:
      tags:
        - Orders
      security:
        - bearerAuth:
            - orders/read
      summary: Retrieve an order
      operationId: getOrder
      description: Retrieve an order.
      parameters:
        - $ref: '#/components/parameters/IdParameter'
        - *ref_1
      responses:
        '200':
          description: Returns the Order object for a valid identifier.
          content:
            application/json:
              schema:
                type: object
                properties:
                  order:
                    $ref: '#/components/schemas/Order'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response.
    put:
      tags:
        - Orders
      security:
        - bearerAuth:
            - orders/write
      summary: Update an order.
      operationId: updateOrder
      description: Update an order.
      parameters:
        - $ref: '#/components/parameters/IdParameter'
        - *ref_1
      requestBody:
        content:
          application/json:
            schema: &ref_6
              type: object
              description: >-
                All fields are optional for updates. Include 'is_deleted: true'
                on nested objects to delete them.
              properties:
                consumer:
                  type: object
                  description: >-
                    Consumer info - provide 'id' for existing or
                    'first_name'/'last_name' to update
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: Consumer ID
                    first_name:
                      type: string
                      maxLength: 100
                      example: John
                    last_name:
                      type: string
                      maxLength: 100
                      example: Doe
                    email:
                      type: string
                      format: email
                      maxLength: 100
                shipping_address:
                  type: object
                  properties:
                    addressee:
                      type: string
                      maxLength: 200
                      nullable: true
                    address1:
                      type: string
                      maxLength: 100
                    address2:
                      type: string
                      maxLength: 100
                      nullable: true
                    city:
                      type: string
                      maxLength: 50
                    province_name:
                      type: string
                      nullable: true
                    country_name:
                      type: string
                    postal_code:
                      type: string
                      nullable: true
                order_lines:
                  type: array
                  description: >-
                    Order lines - include 'id' to update existing, omit to add
                    new
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: Order line ID (required for updates)
                      is_deleted:
                        type: boolean
                        description: Set to true to delete this order line
                      fulfillment_id:
                        type: string
                        format: uuid
                        description: Associated fulfillment ID
                      name:
                        type: string
                        nullable: true
                      physician_name:
                        type: string
                        maxLength: 30
                        nullable: true
                      custom_text_1:
                        type: string
                        nullable: true
                      custom_text_2:
                        type: string
                        nullable: true
                      custom_text_3:
                        type: string
                        nullable: true
                      duration:
                        type: integer
                        minimum: 1
                        maximum: 60
                      client_custom_order_line_id:
                        type: string
                        nullable: true
                      client_custom_line_ids:
                        type: string
                        nullable: true
                      client_custom_pack_name:
                        type: string
                        nullable: true
                      has_special_handling:
                        type: boolean
                      special_handling_instructions:
                        type: string
                        nullable: true
                      is_expedited:
                        type: boolean
                      is_priority_shipping:
                        type: boolean
                      is_priority_production:
                        type: boolean
                      contains_standalone:
                        type: boolean
                        description: >-
                          Indicates the order line contains a standalone
                          product.
                      set_id:
                        type: string
                        format: uuid
                        nullable: true
                        description: >-
                          Client product ID of the SET product this order line
                          was generated from during set explosion.
                        x-internal: true
                      order_acceptance_date:
                        type: string
                        format: date
                        nullable: true
                        description: Date the order line was accepted for production.
                        example: '2026-04-02'
                        x-internal: true
                      packaging_asset_group_id:
                        type: string
                        format: uuid
                        nullable: true
                      kit_id:
                        type: string
                        nullable: true
                      crm_id:
                        type: string
                        nullable: true
                        x-internal: true
                      source_line_item_ids:
                        type: array
                        nullable: true
                        items:
                          oneOf:
                            - type: string
                            - type: number
                      pouches:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                              description: Pouch ID (required for updates)
                            is_deleted:
                              type: boolean
                              description: Set to true to delete this pouch
                            pack_id:
                              type: string
                              format: uuid
                            time_of_administration:
                              type: string
                            custom_label:
                              type: string
                              maxLength: 30
                            cycle:
                              type: string
                            cycle_length:
                              type: integer
                              enum:
                                - 0
                                - 7
                                - 10
                            set_id:
                              type: string
                              format: uuid
                              nullable: true
                              description: >-
                                Client product ID of a SET product. When
                                provided, the set will be exploded into
                                individual order lines during processing.
                            crm_id:
                              type: string
                              nullable: true
                              x-internal: true
                            contents:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                    description: Content ID (required for updates)
                                  is_deleted:
                                    type: boolean
                                    description: Set to true to delete this content item
                                  client_product_id:
                                    type: string
                                    format: uuid
                                  serving_size:
                                    type: integer
                                    minimum: 1
                source:
                  type: string
                source_client_order_id:
                  type: string
                  nullable: true
                client_custom_order_id:
                  type: string
                  nullable: true
                order_type:
                  type: string
                  enum:
                    - DTC
                    - Bulk
                email:
                  type: string
                  format: email
                  maxLength: 100
                  nullable: true
                phone_number:
                  type: string
                  nullable: true
                note:
                  type: string
                  nullable: true
                comments:
                  type: string
                  nullable: true
                engineering_notes:
                  type: string
                  nullable: true
                pack_builder_id:
                  type: string
                  format: uuid
                  nullable: true
                okc_affiliate_id:
                  type: string
                  nullable: true
                crm_id:
                  type: string
                  nullable: true
                  x-internal: true
                status:
                  type: string
                  x-internal: true
                  description: Order status (internal only)
                state:
                  type: string
                  x-internal: true
                  description: Order state (internal only)
                billing_status:
                  type: string
                  nullable: true
                  x-internal: true
                submission_date:
                  type: string
[...]
